In [1]:
{
  "nbformat": 4,
  "nbformat_minor": 0,
  "metadata": {
    "colab": {
      "name": "Ensemble Learning with Python kopokopo project Benard",
      "provenance": [],
      "collapsed_sections": []
    },
    "kernelspec": {
      "name": "python3",
      "display_name": "Python 3"
    },
    "language_info": {
      "name": "python"
    }
  },
  "cells": [
    {
      "cell_type": "markdown",
      "metadata": {
        "id": "kLG2VTrnTvYL"
      },
      "source": [
        "# <font color='#2F4F4F'>1. Defining the Question</font>"
      ]
    },
    {
      "cell_type": "markdown",
      "metadata": {
        "id": "XecOwPNorl2W"
      },
      "source": [
        "## a) Specifying the Data Analysis Question\n",
        "\n",
        "What is the question or problem you are trying to solve?\n",
        "\n",
        "# Problem Statement\n",
        "As a Data Scientist, you are required to create a model that will allow Koppokoppo to\n",
        "provide a solution is able to predict whether a loan offered to the certain small and\n",
        "medium enterprise will be paid off."
      ]
    },
    {
      "cell_type": "markdown",
      "metadata": {
        "id": "J4wfHZwQrs-t"
      },
      "source": [
        "## b) Defining the Metric for Success\n",
        "\n",
        "How will you know your project has succeeded?\n",
        "\n",
        "**The model created should be able to predict  whether a loan offered to the certain small and medium enterprise will be paid off.**"
      ]
    },
    {
      "cell_type": "markdown",
      "metadata": {
        "id": "a9BPYqunry97"
      },
      "source": [
        "## c) Understanding the context \n",
        "\n",
        "What is the background information surrounding the research question?\n",
        "\n",
        "# Background Information\n",
        "**You work for Koppokoppo, a company that offers market-appropriate solutions to enable and incentivize businesses to go digital. The company partners with financial institutions,mobile operators and major retailers who are interested in marketing new payment\n",
        "services to small and medium enterprises. In turn, the company offers small and medium enterprises loans.**"
      ]
    },
    {
      "cell_type": "markdown",
      "metadata": {
        "id": "7KMRBJ7zr9HD"
      },
      "source": [
        "## d) Recording the Experimental Design\n",
        "\n",
        "What steps will you take to answer the research question?\n",
        "\n",
        "# Methodology\n",
        "\n",
        "**I will be required to go through the following stages**\n",
        "1.  Define the Research Question\n",
        "2.  Data Importation\n",
        "3.  Data Exploration\n",
        "4.  Data Cleaning\n",
        "5.  Data Analysis (Univariate and Bivariate)\n",
        "6.  Data Preparation\n",
        "7.  Data Modeling\n",
        "8.  Model Evaluation\n",
        "9.  Recommendations / Conclusion\n",
        "10. Challenging your Solution**\n",
        "\n",
        "\n",
        "\n",
        "\n",
        "\n",
        "\n",
        "\n",
        "\n"
      ]
    },
    {
      "cell_type": "markdown",
      "metadata": {
        "id": "zSGyg6kWsBUl"
      },
      "source": [
        "## e) Data Relevance\n",
        "\n",
        "Is the data provided relevant to the research question?\n",
        "\n",
        "**Yes the Data provided is relevant**"
      ]
    },
    {
      "cell_type": "markdown",
      "metadata": {
        "id": "iUNbvIvnT7ep"
      },
      "source": [
        "# <font color='#2F4F4F'>2. Data Cleaning & Preparation</font>"
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "id": "YBzV1w4EnTQk"
      },
      "source": [
        "# load libraries \n",
        "import pandas as pd\n",
        "import numpy as np\n",
        "import matplotlib.pyplot as plt\n",
        "import seaborn as sns\n",
        "\n",
        "%matplotlib inline\n",
        "pd.set_option(\"display.max.columns\", None)\n",
        "pd.set_option(\"display.max_colwidth\", None)"
      ],
      "execution_count": 2,
      "outputs": []
    },
    {
      "cell_type": "code",
      "metadata": {
        "id": "eGM0aE-CnTQp",
        "colab": {
          "base_uri": "https://localhost:8080/",
          "height": 311
        },
        "outputId": "afa37159-021f-4d6f-b524-f831eb2d00c2"
      },
      "source": [
        "# load dataset\n",
        "df = pd.read_csv('kopokopo_dataset - datasets_602860_1082167_SBAcase.11.13.17.csv')\n",
        "df.head(3)"
      ],
      "execution_count": 3,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "   Selected  LoanNr_ChkDgt                           Name    Zip     ICS  \\\n",
              "0         0     1004285007       SIMPLEX OFFICE SOLUTIONS  92801  532420   \n",
              "1         1     1004535010              DREAM HOME REALTY  90505  531210   \n",
              "2         0     1005005006  Winset, Inc. dba Bankers Hill  92103  531210   \n",
              "\n",
              "   ApprovalDate  ApprovalFY  Term  NoEmp  NewExist  CreateJob  RetainedJob  \\\n",
              "0         15074        2001    36      1       1.0          0            0   \n",
              "1         15130        2001    56      1       1.0          0            0   \n",
              "2         15188        2001    36     10       1.0          0            0   \n",
              "\n",
              "   FranchiseCode  UrbanRural RevLineCr LowDoc  ChgOffDate  DisbursementDate  \\\n",
              "0              1           0         Y      N         NaN           15095.0   \n",
              "1              1           0         Y      N         NaN           15978.0   \n",
              "2              1           0         Y      N         NaN           15218.0   \n",
              "\n",
              "   DisbursementGross  BalanceGross MIS_Status  ChgOffPrinGr  GrAppv  SBA_Appv  \\\n",
              "0              32812             0      P I F             0   30000     15000   \n",
              "1              30000             0      P I F             0   30000     15000   \n",
              "2              30000             0      P I F             0   30000     15000   \n",
              "\n",
              "   New  RealEstate  Portion  daysterm       xx  Default  \n",
              "0    0           0      0.5      1080  16175.0        0  \n",
              "1    0           0      0.5      1680  17658.0        0  \n",
              "2    0           0      0.5      1080  16298.0        0  "
            ],
            "text/html": [
              "\n",
              "  <div id=\"df-4eacf747-4ff6-40a9-803b-46f675adf4e9\">\n",
              "    <div class=\"colab-df-container\">\n",
              "      <div>\n",
              "<style scoped>\n",
              "    .dataframe tbody tr th:only-of-type {\n",
              "        vertical-align: middle;\n",
              "    }\n",
              "\n",
              "    .dataframe tbody tr th {\n",
              "        vertical-align: top;\n",
              "    }\n",
              "\n",
              "    .dataframe thead th {\n",
              "        text-align: right;\n",
              "    }\n",
              "</style>\n",
              "<table border=\"1\" class=\"dataframe\">\n",
              "  <thead>\n",
              "    <tr style=\"text-align: right;\">\n",
              "      <th></th>\n",
              "      <th>Selected</th>\n",
              "      <th>LoanNr_ChkDgt</th>\n",
              "      <th>Name</th>\n",
              "      <th>Zip</th>\n",
              "      <th>ICS</th>\n",
              "      <th>ApprovalDate</th>\n",
              "      <th>ApprovalFY</th>\n",
              "      <th>Term</th>\n",
              "      <th>NoEmp</th>\n",
              "      <th>NewExist</th>\n",
              "      <th>CreateJob</th>\n",
              "      <th>RetainedJob</th>\n",
              "      <th>FranchiseCode</th>\n",
              "      <th>UrbanRural</th>\n",
              "      <th>RevLineCr</th>\n",
              "      <th>LowDoc</th>\n",
              "      <th>ChgOffDate</th>\n",
              "      <th>DisbursementDate</th>\n",
              "      <th>DisbursementGross</th>\n",
              "      <th>BalanceGross</th>\n",
              "      <th>MIS_Status</th>\n",
              "      <th>ChgOffPrinGr</th>\n",
              "      <th>GrAppv</th>\n",
              "      <th>SBA_Appv</th>\n",
              "      <th>New</th>\n",
              "      <th>RealEstate</th>\n",
              "      <th>Portion</th>\n",
              "      <th>daysterm</th>\n",
              "      <th>xx</th>\n",
              "      <th>Default</th>\n",
              "    </tr>\n",
              "  </thead>\n",
              "  <tbody>\n",
              "    <tr>\n",
              "      <th>0</th>\n",
              "      <td>0</td>\n",
              "      <td>1004285007</td>\n",
              "      <td>SIMPLEX OFFICE SOLUTIONS</td>\n",
              "      <td>92801</td>\n",
              "      <td>532420</td>\n",
              "      <td>15074</td>\n",
              "      <td>2001</td>\n",
              "      <td>36</td>\n",
              "      <td>1</td>\n",
              "      <td>1.0</td>\n",
              "      <td>0</td>\n",
              "      <td>0</td>\n",
              "      <td>1</td>\n",
              "      <td>0</td>\n",
              "      <td>Y</td>\n",
              "      <td>N</td>\n",
              "      <td>NaN</td>\n",
              "      <td>15095.0</td>\n",
              "      <td>32812</td>\n",
              "      <td>0</td>\n",
              "      <td>P I F</td>\n",
              "      <td>0</td>\n",
              "      <td>30000</td>\n",
              "      <td>15000</td>\n",
              "      <td>0</td>\n",
              "      <td>0</td>\n",
              "      <td>0.5</td>\n",
              "      <td>1080</td>\n",
              "      <td>16175.0</td>\n",
              "      <td>0</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>1</th>\n",
              "      <td>1</td>\n",
              "      <td>1004535010</td>\n",
              "      <td>DREAM HOME REALTY</td>\n",
              "      <td>90505</td>\n",
              "      <td>531210</td>\n",
              "      <td>15130</td>\n",
              "      <td>2001</td>\n",
              "      <td>56</td>\n",
              "      <td>1</td>\n",
              "      <td>1.0</td>\n",
              "      <td>0</td>\n",
              "      <td>0</td>\n",
              "      <td>1</td>\n",
              "      <td>0</td>\n",
              "      <td>Y</td>\n",
              "      <td>N</td>\n",
              "      <td>NaN</td>\n",
              "      <td>15978.0</td>\n",
              "      <td>30000</td>\n",
              "      <td>0</td>\n",
              "      <td>P I F</td>\n",
              "      <td>0</td>\n",
              "      <td>30000</td>\n",
              "      <td>15000</td>\n",
              "      <td>0</td>\n",
              "      <td>0</td>\n",
              "      <td>0.5</td>\n",
              "      <td>1680</td>\n",
              "      <td>17658.0</td>\n",
              "      <td>0</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>2</th>\n",
              "      <td>0</td>\n",
              "      <td>1005005006</td>\n",
              "      <td>Winset, Inc. dba Bankers Hill</td>\n",
              "      <td>92103</td>\n",
              "      <td>531210</td>\n",
              "      <td>15188</td>\n",
              "      <td>2001</td>\n",
              "      <td>36</td>\n",
              "      <td>10</td>\n",
              "      <td>1.0</td>\n",
              "      <td>0</td>\n",
              "      <td>0</td>\n",
              "      <td>1</td>\n",
              "      <td>0</td>\n",
              "      <td>Y</td>\n",
              "      <td>N</td>\n",
              "      <td>NaN</td>\n",
              "      <td>15218.0</td>\n",
              "      <td>30000</td>\n",
              "      <td>0</td>\n",
              "      <td>P I F</td>\n",
              "      <td>0</td>\n",
              "      <td>30000</td>\n",
              "      <td>15000</td>\n",
              "      <td>0</td>\n",
              "      <td>0</td>\n",
              "      <td>0.5</td>\n",
              "      <td>1080</td>\n",
              "      <td>16298.0</td>\n",
              "      <td>0</td>\n",
              "    </tr>\n",
              "  </tbody>\n",
              "</table>\n",
              "</div>\n",
              "      <button class=\"colab-df-convert\" onclick=\"convertToInteractive('df-4eacf747-4ff6-40a9-803b-46f675adf4e9')\"\n",
              "              title=\"Convert this dataframe to an interactive table.\"\n",
              "              style=\"display:none;\">\n",
              "        \n",
              "  <svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\"viewBox=\"0 0 24 24\"\n",
              "       width=\"24px\">\n",
              "    <path d=\"M0 0h24v24H0V0z\" fill=\"none\"/>\n",
              "    <path d=\"M18.56 5.44l.94 2.06.94-2.06 2.06-.94-2.06-.94-.94-2.06-.94 2.06-2.06.94zm-11 1L8.5 8.5l.94-2.06 2.06-.94-2.06-.94L8.5 2.5l-.94 2.06-2.06.94zm10 10l.94 2.06.94-2.06 2.06-.94-2.06-.94-.94-2.06-.94 2.06-2.06.94z\"/><path d=\"M17.41 7.96l-1.37-1.37c-.4-.4-.92-.59-1.43-.59-.52 0-1.04.2-1.43.59L10.3 9.45l-7.72 7.72c-.78.78-.78 2.05 0 2.83L4 21.41c.39.39.9.59 1.41.59.51 0 1.02-.2 1.41-.59l7.78-7.78 2.81-2.81c.8-.78.8-2.07 0-2.86zM5.41 20L4 18.59l7.72-7.72 1.47 1.35L5.41 20z\"/>\n",
              "  </svg>\n",
              "      </button>\n",
              "      \n",
              "  <style>\n",
              "    .colab-df-container {\n",
              "      display:flex;\n",
              "      flex-wrap:wrap;\n",
              "      gap: 12px;\n",
              "    }\n",
              "\n",
              "    .colab-df-convert {\n",
              "      background-color: #E8F0FE;\n",
              "      border: none;\n",
              "      border-radius: 50%;\n",
              "      cursor: pointer;\n",
              "      display: none;\n",
              "      fill: #1967D2;\n",
              "      height: 32px;\n",
              "      padding: 0 0 0 0;\n",
              "      width: 32px;\n",
              "    }\n",
              "\n",
              "    .colab-df-convert:hover {\n",
              "      background-color: #E2EBFA;\n",
              "      box-shadow: 0px 1px 2px rgba(60, 64, 67, 0.3), 0px 1px 3px 1px rgba(60, 64, 67, 0.15);\n",
              "      fill: #174EA6;\n",
              "    }\n",
              "\n",
              "    [theme=dark] .colab-df-convert {\n",
              "      background-color: #3B4455;\n",
              "      fill: #D2E3FC;\n",
              "    }\n",
              "\n",
              "    [theme=dark] .colab-df-convert:hover {\n",
              "      background-color: #434B5C;\n",
              "      box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);\n",
              "      filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.3));\n",
              "      fill: #FFFFFF;\n",
              "    }\n",
              "  </style>\n",
              "\n",
              "      <script>\n",
              "        const buttonEl =\n",
              "          document.querySelector('#df-4eacf747-4ff6-40a9-803b-46f675adf4e9 button.colab-df-convert');\n",
              "        buttonEl.style.display =\n",
              "          google.colab.kernel.accessAllowed ? 'block' : 'none';\n",
              "\n",
              "        async function convertToInteractive(key) {\n",
              "          const element = document.querySelector('#df-4eacf747-4ff6-40a9-803b-46f675adf4e9');\n",
              "          const dataTable =\n",
              "            await google.colab.kernel.invokeFunction('convertToInteractive',\n",
              "                                                     [key], {});\n",
              "          if (!dataTable) return;\n",
              "\n",
              "          const docLinkHtml = 'Like what you see? Visit the ' +\n",
              "            '<a target=\"_blank\" href=https://colab.research.google.com/notebooks/data_table.ipynb>data table notebook</a>'\n",
              "            + ' to learn more about interactive tables.';\n",
              "          element.innerHTML = '';\n",
              "          dataTable['output_type'] = 'display_data';\n",
              "          await google.colab.output.renderOutput(dataTable, element);\n",
              "          const docLink = document.createElement('div');\n",
              "          docLink.innerHTML = docLinkHtml;\n",
              "          element.appendChild(docLink);\n",
              "        }\n",
              "      </script>\n",
              "    </div>\n",
              "  </div>\n",
              "  "
            ]
          },
          "metadata": {},
          "execution_count": 3
        }
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "id": "q-eVTc3dnTQs",
        "colab": {
          "base_uri": "https://localhost:8080/",
          "height": 896
        },
        "outputId": "435d9f47-c172-407c-fd8b-ccc00799a366"
      },
      "source": [
        "# load glossary\n",
        "glossary = pd.read_csv('Koppokoppo - Glossary - t0001-10.1080_10691898.2018.1434342 (1).csv')\n",
        "glossary"
      ],
      "execution_count": 4,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "        Variable name  Data type  \\\n",
              "0       LoanNr_ChkDgt       Text   \n",
              "1                Name       Text   \n",
              "2                City       Text   \n",
              "3               State       Text   \n",
              "4                 Zip       Text   \n",
              "5                Bank       Text   \n",
              "6           BankState       Text   \n",
              "7                 ICS       Text   \n",
              "8        ApprovalDate  Date/Time   \n",
              "9          ApprovalFY       Text   \n",
              "10               Term     Number   \n",
              "11              NoEmp     Number   \n",
              "12           NewExist       Text   \n",
              "13          CreateJob     Number   \n",
              "14        RetainedJob     Number   \n",
              "15      FranchiseCode       Text   \n",
              "16         UrbanRural       Text   \n",
              "17          RevLineCr       Text   \n",
              "18             LowDoc       Text   \n",
              "19         ChgOffDate  Date/Time   \n",
              "20   DisbursementDate  Date/Time   \n",
              "21  DisbursementGross   Currency   \n",
              "22       BalanceGross   Currency   \n",
              "23         MIS_Status       Text   \n",
              "24       ChgOffPrinGr   Currency   \n",
              "25             GrAppv   Currency   \n",
              "26           SBA_Appv   Currency   \n",
              "\n",
              "                                 Description of variable  \n",
              "0                               Identifier – Primary key  \n",
              "1                                          Borrower name  \n",
              "2                                          Borrower city  \n",
              "3                                         Borrower state  \n",
              "4                                      Borrower zip code  \n",
              "5                                              Bank name  \n",
              "6                                             Bank state  \n",
              "7                    Industry classification system code  \n",
              "8                             Date SBA commitment issued  \n",
              "9                              Fiscal year of commitment  \n",
              "10                                   Loan term in months  \n",
              "11                          Number of business employees  \n",
              "12               1 = Existing business, 2 = New business  \n",
              "13                                Number of jobs created  \n",
              "14                               Number of jobs retained  \n",
              "15       Franchise code, (00000 or 00001) = No franchise  \n",
              "16                   1 = Urban, 2 = rural, 0 = undefined  \n",
              "17             Revolving line of credit: Y = Yes, N = No  \n",
              "18                  LowDoc Loan Program: Y = Yes, N = No  \n",
              "19     The date when a loan is declared to be in default  \n",
              "20                                     Disbursement date  \n",
              "21                                      Amount disbursed  \n",
              "22                              Gross amount outstanding  \n",
              "23  Loan status charged off = CHGOFF, Paid in full = PIF  \n",
              "24                                    Charged-off amount  \n",
              "25                 Gross amount of loan approved by bank  \n",
              "26              SBA's guaranteed amount of approved loan  "
            ],
            "text/html": [
              "\n",
              "  <div id=\"df-042f5c99-4beb-49fe-aa84-266d36bfcbad\">\n",
              "    <div class=\"colab-df-container\">\n",
              "      <div>\n",
              "<style scoped>\n",
              "    .dataframe tbody tr th:only-of-type {\n",
              "        vertical-align: middle;\n",
              "    }\n",
              "\n",
              "    .dataframe tbody tr th {\n",
              "        vertical-align: top;\n",
              "    }\n",
              "\n",
              "    .dataframe thead th {\n",
              "        text-align: right;\n",
              "    }\n",
              "</style>\n",
              "<table border=\"1\" class=\"dataframe\">\n",
              "  <thead>\n",
              "    <tr style=\"text-align: right;\">\n",
              "      <th></th>\n",
              "      <th>Variable name</th>\n",
              "      <th>Data type</th>\n",
              "      <th>Description of variable</th>\n",
              "    </tr>\n",
              "  </thead>\n",
              "  <tbody>\n",
              "    <tr>\n",
              "      <th>0</th>\n",
              "      <td>LoanNr_ChkDgt</td>\n",
              "      <td>Text</td>\n",
              "      <td>Identifier – Primary key</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>1</th>\n",
              "      <td>Name</td>\n",
              "      <td>Text</td>\n",
              "      <td>Borrower name</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>2</th>\n",
              "      <td>City</td>\n",
              "      <td>Text</td>\n",
              "      <td>Borrower city</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>3</th>\n",
              "      <td>State</td>\n",
              "      <td>Text</td>\n",
              "      <td>Borrower state</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>4</th>\n",
              "      <td>Zip</td>\n",
              "      <td>Text</td>\n",
              "      <td>Borrower zip code</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>5</th>\n",
              "      <td>Bank</td>\n",
              "      <td>Text</td>\n",
              "      <td>Bank name</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>6</th>\n",
              "      <td>BankState</td>\n",
              "      <td>Text</td>\n",
              "      <td>Bank state</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>7</th>\n",
              "      <td>ICS</td>\n",
              "      <td>Text</td>\n",
              "      <td>Industry classification system code</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>8</th>\n",
              "      <td>ApprovalDate</td>\n",
              "      <td>Date/Time</td>\n",
              "      <td>Date SBA commitment issued</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>9</th>\n",
              "      <td>ApprovalFY</td>\n",
              "      <td>Text</td>\n",
              "      <td>Fiscal year of commitment</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>10</th>\n",
              "      <td>Term</td>\n",
              "      <td>Number</td>\n",
              "      <td>Loan term in months</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>11</th>\n",
              "      <td>NoEmp</td>\n",
              "      <td>Number</td>\n",
              "      <td>Number of business employees</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>12</th>\n",
              "      <td>NewExist</td>\n",
              "      <td>Text</td>\n",
              "      <td>1 = Existing business, 2 = New business</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>13</th>\n",
              "      <td>CreateJob</td>\n",
              "      <td>Number</td>\n",
              "      <td>Number of jobs created</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>14</th>\n",
              "      <td>RetainedJob</td>\n",
              "      <td>Number</td>\n",
              "      <td>Number of jobs retained</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>15</th>\n",
              "      <td>FranchiseCode</td>\n",
              "      <td>Text</td>\n",
              "      <td>Franchise code, (00000 or 00001) = No franchise</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>16</th>\n",
              "      <td>UrbanRural</td>\n",
              "      <td>Text</td>\n",
              "      <td>1 = Urban, 2 = rural, 0 = undefined</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>17</th>\n",
              "      <td>RevLineCr</td>\n",
              "      <td>Text</td>\n",
              "      <td>Revolving line of credit: Y = Yes, N = No</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>18</th>\n",
              "      <td>LowDoc</td>\n",
              "      <td>Text</td>\n",
              "      <td>LowDoc Loan Program: Y = Yes, N = No</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>19</th>\n",
              "      <td>ChgOffDate</td>\n",
              "      <td>Date/Time</td>\n",
              "      <td>The date when a loan is declared to be in default</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>20</th>\n",
              "      <td>DisbursementDate</td>\n",
              "      <td>Date/Time</td>\n",
              "      <td>Disbursement date</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>21</th>\n",
              "      <td>DisbursementGross</td>\n",
              "      <td>Currency</td>\n",
              "      <td>Amount disbursed</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>22</th>\n",
              "      <td>BalanceGross</td>\n",
              "      <td>Currency</td>\n",
              "      <td>Gross amount outstanding</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>23</th>\n",
              "      <td>MIS_Status</td>\n",
              "      <td>Text</td>\n",
              "      <td>Loan status charged off = CHGOFF, Paid in full = PIF</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>24</th>\n",
              "      <td>ChgOffPrinGr</td>\n",
              "      <td>Currency</td>\n",
              "      <td>Charged-off amount</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>25</th>\n",
              "      <td>GrAppv</td>\n",
              "      <td>Currency</td>\n",
              "      <td>Gross amount of loan approved by bank</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>26</th>\n",
              "      <td>SBA_Appv</td>\n",
              "      <td>Currency</td>\n",
              "      <td>SBA's guaranteed amount of approved loan</td>\n",
              "    </tr>\n",
              "  </tbody>\n",
              "</table>\n",
              "</div>\n",
              "      <button class=\"colab-df-convert\" onclick=\"convertToInteractive('df-042f5c99-4beb-49fe-aa84-266d36bfcbad')\"\n",
              "              title=\"Convert this dataframe to an interactive table.\"\n",
              "              style=\"display:none;\">\n",
              "        \n",
              "  <svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\"viewBox=\"0 0 24 24\"\n",
              "       width=\"24px\">\n",
              "    <path d=\"M0 0h24v24H0V0z\" fill=\"none\"/>\n",
              "    <path d=\"M18.56 5.44l.94 2.06.94-2.06 2.06-.94-2.06-.94-.94-2.06-.94 2.06-2.06.94zm-11 1L8.5 8.5l.94-2.06 2.06-.94-2.06-.94L8.5 2.5l-.94 2.06-2.06.94zm10 10l.94 2.06.94-2.06 2.06-.94-2.06-.94-.94-2.06-.94 2.06-2.06.94z\"/><path d=\"M17.41 7.96l-1.37-1.37c-.4-.4-.92-.59-1.43-.59-.52 0-1.04.2-1.43.59L10.3 9.45l-7.72 7.72c-.78.78-.78 2.05 0 2.83L4 21.41c.39.39.9.59 1.41.59.51 0 1.02-.2 1.41-.59l7.78-7.78 2.81-2.81c.8-.78.8-2.07 0-2.86zM5.41 20L4 18.59l7.72-7.72 1.47 1.35L5.41 20z\"/>\n",
              "  </svg>\n",
              "      </button>\n",
              "      \n",
              "  <style>\n",
              "    .colab-df-container {\n",
              "      display:flex;\n",
              "      flex-wrap:wrap;\n",
              "      gap: 12px;\n",
              "    }\n",
              "\n",
              "    .colab-df-convert {\n",
              "      background-color: #E8F0FE;\n",
              "      border: none;\n",
              "      border-radius: 50%;\n",
              "      cursor: pointer;\n",
              "      display: none;\n",
              "      fill: #1967D2;\n",
              "      height: 32px;\n",
              "      padding: 0 0 0 0;\n",
              "      width: 32px;\n",
              "    }\n",
              "\n",
              "    .colab-df-convert:hover {\n",
              "      background-color: #E2EBFA;\n",
              "      box-shadow: 0px 1px 2px rgba(60, 64, 67, 0.3), 0px 1px 3px 1px rgba(60, 64, 67, 0.15);\n",
              "      fill: #174EA6;\n",
              "    }\n",
              "\n",
              "    [theme=dark] .colab-df-convert {\n",
              "      background-color: #3B4455;\n",
              "      fill: #D2E3FC;\n",
              "    }\n",
              "\n",
              "    [theme=dark] .colab-df-convert:hover {\n",
              "      background-color: #434B5C;\n",
              "      box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);\n",
              "      filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.3));\n",
              "      fill: #FFFFFF;\n",
              "    }\n",
              "  </style>\n",
              "\n",
              "      <script>\n",
              "        const buttonEl =\n",
              "          document.querySelector('#df-042f5c99-4beb-49fe-aa84-266d36bfcbad button.colab-df-convert');\n",
              "        buttonEl.style.display =\n",
              "          google.colab.kernel.accessAllowed ? 'block' : 'none';\n",
              "\n",
              "        async function convertToInteractive(key) {\n",
              "          const element = document.querySelector('#df-042f5c99-4beb-49fe-aa84-266d36bfcbad');\n",
              "          const dataTable =\n",
              "            await google.colab.kernel.invokeFunction('convertToInteractive',\n",
              "                                                     [key], {});\n",
              "          if (!dataTable) return;\n",
              "\n",
              "          const docLinkHtml = 'Like what you see? Visit the ' +\n",
              "            '<a target=\"_blank\" href=https://colab.research.google.com/notebooks/data_table.ipynb>data table notebook</a>'\n",
              "            + ' to learn more about interactive tables.';\n",
              "          element.innerHTML = '';\n",
              "          dataTable['output_type'] = 'display_data';\n",
              "          await google.colab.output.renderOutput(dataTable, element);\n",
              "          const docLink = document.createElement('div');\n",
              "          docLink.innerHTML = docLinkHtml;\n",
              "          element.appendChild(docLink);\n",
              "        }\n",
              "      </script>\n",
              "    </div>\n",
              "  </div>\n",
              "  "
            ]
          },
          "metadata": {},
          "execution_count": 4
        }
      ]
    },
    {
      "cell_type": "markdown",
      "metadata": {
        "id": "yYn8VjXXnTQw"
      },
      "source": [
        "From what I can tell, our target variable is 'MIS_Status' as it can help us identify whether a loan is likely to be paid (PIF = paid in full) or not (CHGOFF = chargeoff).\n",
        "\n",
        "Using the glossary, we will remove the following variables either because they are not needed or because their definitions are not included in the glossary:\n",
        "- Selected\n",
        "- LoanNr_ChkDgt\n",
        "- Name\n",
        "- New\n",
        "- RealEstate\n",
        "- Portion\n",
        "- daysterm\n",
        "- xx\n",
        "- Default"
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "id": "HOw5peHQnTQw",
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "outputId": "55439c65-c542-4355-aa55-9108e5a5a6ce"
      },
      "source": [
        "# dropping unneeded columns\n",
        "df = df.drop(columns = ['Selected', 'LoanNr_ChkDgt', 'Name', 'New', 'RealEstate', \n",
        "                        'Portion', 'daysterm', 'xx', 'Default'])\n",
        "df.shape"
      ],
      "execution_count": 5,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "(2102, 21)"
            ]
          },
          "metadata": {},
          "execution_count": 5
        }
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "id": "xghdFTK-nTQ5",
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "outputId": "f2ac7f4e-7ff8-4fd4-a17e-10468e6dedb7"
      },
      "source": [
        "# dropping duplicates, if any\n",
        "df.drop_duplicates(inplace = True)\n",
        "df.shape"
      ],
      "execution_count": 6,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "(2102, 21)"
            ]
          },
          "metadata": {},
          "execution_count": 6
        }
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "scrolled": false,
        "id": "UYatRT57nTQ9",
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "outputId": "14bd29fa-90b9-40de-c2c2-5ae3bf63a959"
      },
      "source": [
        "# checking for missing values\n",
        "df.isnull().sum()"
      ],
      "execution_count": 7,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "Zip                     0\n",
              "ICS                     0\n",
              "ApprovalDate            0\n",
              "ApprovalFY              0\n",
              "Term                    0\n",
              "NoEmp                   0\n",
              "NewExist                1\n",
              "CreateJob               0\n",
              "RetainedJob             0\n",
              "FranchiseCode           0\n",
              "UrbanRural              0\n",
              "RevLineCr               2\n",
              "LowDoc                  3\n",
              "ChgOffDate           1405\n",
              "DisbursementDate        3\n",
              "DisbursementGross       0\n",
              "BalanceGross            0\n",
              "MIS_Status              0\n",
              "ChgOffPrinGr            0\n",
              "GrAppv                  0\n",
              "SBA_Appv                0\n",
              "dtype: int64"
            ]
          },
          "metadata": {},
          "execution_count": 7
        }
      ]
    },
    {
      "cell_type": "markdown",
      "metadata": {
        "id": "68Med7qXnTRA"
      },
      "source": [
        "'ChgOffDate' has missing values for more than half of the records so we will drop that variable. As for the rest of the variables with missing values, we will remove only the records that have null values."
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "id": "TCBv8iTbnTRB",
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "outputId": "dd488bec-f3fd-44b6-f39d-e8e71198e7ca"
      },
      "source": [
        "df.drop(columns = ['ChgOffDate'], inplace = True)\n",
        "\n",
        "df.dropna(inplace = True)\n",
        "df.isna().sum()"
      ],
      "execution_count": 8,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "Zip                  0\n",
              "ICS                  0\n",
              "ApprovalDate         0\n",
              "ApprovalFY           0\n",
              "Term                 0\n",
              "NoEmp                0\n",
              "NewExist             0\n",
              "CreateJob            0\n",
              "RetainedJob          0\n",
              "FranchiseCode        0\n",
              "UrbanRural           0\n",
              "RevLineCr            0\n",
              "LowDoc               0\n",
              "DisbursementDate     0\n",
              "DisbursementGross    0\n",
              "BalanceGross         0\n",
              "MIS_Status           0\n",
              "ChgOffPrinGr         0\n",
              "GrAppv               0\n",
              "SBA_Appv             0\n",
              "dtype: int64"
            ]
          },
          "metadata": {},
          "execution_count": 8
        }
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "id": "8P5mVkKvnTRD",
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "outputId": "eac077a6-a5bd-40bb-a5ea-0e8fdb6e5ba3"
      },
      "source": [
        "# check datatypes\n",
        "df.dtypes"
      ],
      "execution_count": 9,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "Zip                    int64\n",
              "ICS                    int64\n",
              "ApprovalDate           int64\n",
              "ApprovalFY             int64\n",
              "Term                   int64\n",
              "NoEmp                  int64\n",
              "NewExist             float64\n",
              "CreateJob              int64\n",
              "RetainedJob            int64\n",
              "FranchiseCode          int64\n",
              "UrbanRural             int64\n",
              "RevLineCr             object\n",
              "LowDoc                object\n",
              "DisbursementDate     float64\n",
              "DisbursementGross      int64\n",
              "BalanceGross           int64\n",
              "MIS_Status            object\n",
              "ChgOffPrinGr           int64\n",
              "GrAppv                 int64\n",
              "SBA_Appv               int64\n",
              "dtype: object"
            ]
          },
          "metadata": {},
          "execution_count": 9
        }
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "id": "rv760pOonTRG",
        "colab": {
          "base_uri": "https://localhost:8080/",
          "height": 270
        },
        "outputId": "4f9f12f6-c8f8-41fa-e9fd-45b9d3498c3c"
      },
      "source": [
        "# changing the 'ApprovalDate' and 'DisbursementDate' variables to datetime\n",
        "df['ApprovalDate'] = pd.to_datetime(df['ApprovalDate'], unit = 'd')\n",
        "df['DisbursementDate'] = pd.to_datetime(df['DisbursementDate'], unit = 'd')\n",
        "df.head()"
      ],
      "execution_count": 10,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "     Zip     ICS ApprovalDate  ApprovalFY  Term  NoEmp  NewExist  CreateJob  \\\n",
              "0  92801  532420   2011-04-10        2001    36      1       1.0          0   \n",
              "1  90505  531210   2011-06-05        2001    56      1       1.0          0   \n",
              "2  92103  531210   2011-08-02        2001    36     10       1.0          0   \n",
              "3  92108  531312   2013-01-14        2003    36      6       1.0          0   \n",
              "4  91345  531390   2016-02-09        2006   240     65       1.0          3   \n",
              "\n",
              "   RetainedJob  FranchiseCode  UrbanRural RevLineCr LowDoc DisbursementDate  \\\n",
              "0            0              1           0         Y      N       2011-05-01   \n",
              "1            0              1           0         Y      N       2013-09-30   \n",
              "2            0              1           0         Y      N       2011-09-01   \n",
              "3            0              1           0         Y      N       2013-01-31   \n",
              "4           65              1           1         0      N       2016-04-12   \n",
              "\n",
              "   DisbursementGross  BalanceGross MIS_Status  ChgOffPrinGr  GrAppv  SBA_Appv  \n",
              "0              32812             0      P I F             0   30000     15000  \n",
              "1              30000             0      P I F             0   30000     15000  \n",
              "2              30000             0      P I F             0   30000     15000  \n",
              "3              50000             0      P I F             0   50000     25000  \n",
              "4             343000             0      P I F             0  343000    343000  "
            ],
            "text/html": [
              "\n",
              "  <div id=\"df-9efeee43-2e21-48f6-a968-6966d542767e\">\n",
              "    <div class=\"colab-df-container\">\n",
              "      <div>\n",
              "<style scoped>\n",
              "    .dataframe tbody tr th:only-of-type {\n",
              "        vertical-align: middle;\n",
              "    }\n",
              "\n",
              "    .dataframe tbody tr th {\n",
              "        vertical-align: top;\n",
              "    }\n",
              "\n",
              "    .dataframe thead th {\n",
              "        text-align: right;\n",
              "    }\n",
              "</style>\n",
              "<table border=\"1\" class=\"dataframe\">\n",
              "  <thead>\n",
              "    <tr style=\"text-align: right;\">\n",
              "      <th></th>\n",
              "      <th>Zip</th>\n",
              "      <th>ICS</th>\n",
              "      <th>ApprovalDate</th>\n",
              "      <th>ApprovalFY</th>\n",
              "      <th>Term</th>\n",
              "      <th>NoEmp</th>\n",
              "      <th>NewExist</th>\n",
              "      <th>CreateJob</th>\n",
              "      <th>RetainedJob</th>\n",
              "      <th>FranchiseCode</th>\n",
              "      <th>UrbanRural</th>\n",
              "      <th>RevLineCr</th>\n",
              "      <th>LowDoc</th>\n",
              "      <th>DisbursementDate</th>\n",
              "      <th>DisbursementGross</th>\n",
              "      <th>BalanceGross</th>\n",
              "      <th>MIS_Status</th>\n",
              "      <th>ChgOffPrinGr</th>\n",
              "      <th>GrAppv</th>\n",
              "      <th>SBA_Appv</th>\n",
              "    </tr>\n",
              "  </thead>\n",
              "  <tbody>\n",
              "    <tr>\n",
              "      <th>0</th>\n",
              "      <td>92801</td>\n",
              "      <td>532420</td>\n",
              "      <td>2011-04-10</td>\n",
              "      <td>2001</td>\n",
              "      <td>36</td>\n",
              "      <td>1</td>\n",
              "      <td>1.0</td>\n",
              "      <td>0</td>\n",
              "      <td>0</td>\n",
              "      <td>1</td>\n",
              "      <td>0</td>\n",
              "      <td>Y</td>\n",
              "      <td>N</td>\n",
              "      <td>2011-05-01</td>\n",
              "      <td>32812</td>\n",
              "      <td>0</td>\n",
              "      <td>P I F</td>\n",
              "      <td>0</td>\n",
              "      <td>30000</td>\n",
              "      <td>15000</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>1</th>\n",
              "      <td>90505</td>\n",
              "      <td>531210</td>\n",
              "      <td>2011-06-05</td>\n",
              "      <td>2001</td>\n",
              "      <td>56</td>\n",
              "      <td>1</td>\n",
              "      <td>1.0</td>\n",
              "      <td>0</td>\n",
              "      <td>0</td>\n",
              "      <td>1</td>\n",
              "      <td>0</td>\n",
              "      <td>Y</td>\n",
              "      <td>N</td>\n",
              "      <td>2013-09-30</td>\n",
              "      <td>30000</td>\n",
              "      <td>0</td>\n",
              "      <td>P I F</td>\n",
              "      <td>0</td>\n",
              "      <td>30000</td>\n",
              "      <td>15000</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>2</th>\n",
              "      <td>92103</td>\n",
              "      <td>531210</td>\n",
              "      <td>2011-08-02</td>\n",
              "      <td>2001</td>\n",
              "      <td>36</td>\n",
              "      <td>10</td>\n",
              "      <td>1.0</td>\n",
              "      <td>0</td>\n",
              "      <td>0</td>\n",
              "      <td>1</td>\n",
              "      <td>0</td>\n",
              "      <td>Y</td>\n",
              "      <td>N</td>\n",
              "      <td>2011-09-01</td>\n",
              "      <td>30000</td>\n",
              "      <td>0</td>\n",
              "      <td>P I F</td>\n",
              "      <td>0</td>\n",
              "      <td>30000</td>\n",
              "      <td>15000</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>3</th>\n",
              "      <td>92108</td>\n",
              "      <td>531312</td>\n",
              "      <td>2013-01-14</td>\n",
              "      <td>2003</td>\n",
              "      <td>36</td>\n",
              "      <td>6</td>\n",
              "      <td>1.0</td>\n",
              "      <td>0</td>\n",
              "      <td>0</td>\n",
              "      <td>1</td>\n",
              "      <td>0</td>\n",
              "      <td>Y</td>\n",
              "      <td>N</td>\n",
              "      <td>2013-01-31</td>\n",
              "      <td>50000</td>\n",
              "      <td>0</td>\n",
              "      <td>P I F</td>\n",
              "      <td>0</td>\n",
              "      <td>50000</td>\n",
              "      <td>25000</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>4</th>\n",
              "      <td>91345</td>\n",
              "      <td>531390</td>\n",
              "      <td>2016-02-09</td>\n",
              "      <td>2006</td>\n",
              "      <td>240</td>\n",
              "      <td>65</td>\n",
              "      <td>1.0</td>\n",
              "      <td>3</td>\n",
              "      <td>65</td>\n",
              "      <td>1</td>\n",
              "      <td>1</td>\n",
              "      <td>0</td>\n",
              "      <td>N</td>\n",
              "      <td>2016-04-12</td>\n",
              "      <td>343000</td>\n",
              "      <td>0</td>\n",
              "      <td>P I F</td>\n",
              "      <td>0</td>\n",
              "      <td>343000</td>\n",
              "      <td>343000</td>\n",
              "    </tr>\n",
              "  </tbody>\n",
              "</table>\n",
              "</div>\n",
              "      <button class=\"colab-df-convert\" onclick=\"convertToInteractive('df-9efeee43-2e21-48f6-a968-6966d542767e')\"\n",
              "              title=\"Convert this dataframe to an interactive table.\"\n",
              "              style=\"display:none;\">\n",
              "        \n",
              "  <svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\"viewBox=\"0 0 24 24\"\n",
              "       width=\"24px\">\n",
              "    <path d=\"M0 0h24v24H0V0z\" fill=\"none\"/>\n",
              "    <path d=\"M18.56 5.44l.94 2.06.94-2.06 2.06-.94-2.06-.94-.94-2.06-.94 2.06-2.06.94zm-11 1L8.5 8.5l.94-2.06 2.06-.94-2.06-.94L8.5 2.5l-.94 2.06-2.06.94zm10 10l.94 2.06.94-2.06 2.06-.94-2.06-.94-.94-2.06-.94 2.06-2.06.94z\"/><path d=\"M17.41 7.96l-1.37-1.37c-.4-.4-.92-.59-1.43-.59-.52 0-1.04.2-1.43.59L10.3 9.45l-7.72 7.72c-.78.78-.78 2.05 0 2.83L4 21.41c.39.39.9.59 1.41.59.51 0 1.02-.2 1.41-.59l7.78-7.78 2.81-2.81c.8-.78.8-2.07 0-2.86zM5.41 20L4 18.59l7.72-7.72 1.47 1.35L5.41 20z\"/>\n",
              "  </svg>\n",
              "      </button>\n",
              "      \n",
              "  <style>\n",
              "    .colab-df-container {\n",
              "      display:flex;\n",
              "      flex-wrap:wrap;\n",
              "      gap: 12px;\n",
              "    }\n",
              "\n",
              "    .colab-df-convert {\n",
              "      background-color: #E8F0FE;\n",
              "      border: none;\n",
              "      border-radius: 50%;\n",
              "      cursor: pointer;\n",
              "      display: none;\n",
              "      fill: #1967D2;\n",
              "      height: 32px;\n",
              "      padding: 0 0 0 0;\n",
              "      width: 32px;\n",
              "    }\n",
              "\n",
              "    .colab-df-convert:hover {\n",
              "      background-color: #E2EBFA;\n",
              "      box-shadow: 0px 1px 2px rgba(60, 64, 67, 0.3), 0px 1px 3px 1px rgba(60, 64, 67, 0.15);\n",
              "      fill: #174EA6;\n",
              "    }\n",
              "\n",
              "    [theme=dark] .colab-df-convert {\n",
              "      background-color: #3B4455;\n",
              "      fill: #D2E3FC;\n",
              "    }\n",
              "\n",
              "    [theme=dark] .colab-df-convert:hover {\n",
              "      background-color: #434B5C;\n",
              "      box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);\n",
              "      filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.3));\n",
              "      fill: #FFFFFF;\n",
              "    }\n",
              "  </style>\n",
              "\n",
              "      <script>\n",
              "        const buttonEl =\n",
              "          document.querySelector('#df-9efeee43-2e21-48f6-a968-6966d542767e button.colab-df-convert');\n",
              "        buttonEl.style.display =\n",
              "          google.colab.kernel.accessAllowed ? 'block' : 'none';\n",
              "\n",
              "        async function convertToInteractive(key) {\n",
              "          const element = document.querySelector('#df-9efeee43-2e21-48f6-a968-6966d542767e');\n",
              "          const dataTable =\n",
              "            await google.colab.kernel.invokeFunction('convertToInteractive',\n",
              "                                                     [key], {});\n",
              "          if (!dataTable) return;\n",
              "\n",
              "          const docLinkHtml = 'Like what you see? Visit the ' +\n",
              "            '<a target=\"_blank\" href=https://colab.research.google.com/notebooks/data_table.ipynb>data table notebook</a>'\n",
              "            + ' to learn more about interactive tables.';\n",
              "          element.innerHTML = '';\n",
              "          dataTable['output_type'] = 'display_data';\n",
              "          await google.colab.output.renderOutput(dataTable, element);\n",
              "          const docLink = document.createElement('div');\n",
              "          docLink.innerHTML = docLinkHtml;\n",
              "          element.appendChild(docLink);\n",
              "        }\n",
              "      </script>\n",
              "    </div>\n",
              "  </div>\n",
              "  "
            ]
          },
          "metadata": {},
          "execution_count": 10
        }
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "id": "-SKwtLqCnTRJ",
        "colab": {
          "base_uri": "https://localhost:8080/",
          "height": 270
        },
        "outputId": "b95d4b18-b0d0-420a-87de-53542995a82c"
      },
      "source": [
        "# our datetime conversion is 10 years ahead. We'll offset this\n",
        "df['ApprovalDate'] = df['ApprovalDate'] - pd.DateOffset(years = 10)\n",
        "df['DisbursementDate'] = df['DisbursementDate'] - pd.DateOffset(years = 10)\n",
        "df.head()"
      ],
      "execution_count": 11,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "     Zip     ICS ApprovalDate  ApprovalFY  Term  NoEmp  NewExist  CreateJob  \\\n",
              "0  92801  532420   2001-04-10        2001    36      1       1.0          0   \n",
              "1  90505  531210   2001-06-05        2001    56      1       1.0          0   \n",
              "2  92103  531210   2001-08-02        2001    36     10       1.0          0   \n",
              "3  92108  531312   2003-01-14        2003    36      6       1.0          0   \n",
              "4  91345  531390   2006-02-09        2006   240     65       1.0          3   \n",
              "\n",
              "   RetainedJob  FranchiseCode  UrbanRural RevLineCr LowDoc DisbursementDate  \\\n",
              "0            0              1           0         Y      N       2001-05-01   \n",
              "1            0              1           0         Y      N       2003-09-30   \n",
              "2            0              1           0         Y      N       2001-09-01   \n",
              "3            0              1           0         Y      N       2003-01-31   \n",
              "4           65              1           1         0      N       2006-04-12   \n",
              "\n",
              "   DisbursementGross  BalanceGross MIS_Status  ChgOffPrinGr  GrAppv  SBA_Appv  \n",
              "0              32812             0      P I F             0   30000     15000  \n",
              "1              30000             0      P I F             0   30000     15000  \n",
              "2              30000             0      P I F             0   30000     15000  \n",
              "3              50000             0      P I F             0   50000     25000  \n",
              "4             343000             0      P I F             0  343000    343000  "
            ],
            "text/html": [
              "\n",
              "  <div id=\"df-47ab1172-00df-461e-b7e7-5902ed8e3fa0\">\n",
              "    <div class=\"colab-df-container\">\n",
              "      <div>\n",
              "<style scoped>\n",
              "    .dataframe tbody tr th:only-of-type {\n",
              "        vertical-align: middle;\n",
              "    }\n",
              "\n",
              "    .dataframe tbody tr th {\n",
              "        vertical-align: top;\n",
              "    }\n",
              "\n",
              "    .dataframe thead th {\n",
              "        text-align: right;\n",
              "    }\n",
              "</style>\n",
              "<table border=\"1\" class=\"dataframe\">\n",
              "  <thead>\n",
              "    <tr style=\"text-align: right;\">\n",
              "      <th></th>\n",
              "      <th>Zip</th>\n",
              "      <th>ICS</th>\n",
              "      <th>ApprovalDate</th>\n",
              "      <th>ApprovalFY</th>\n",
              "      <th>Term</th>\n",
              "      <th>NoEmp</th>\n",
              "      <th>NewExist</th>\n",
              "      <th>CreateJob</th>\n",
              "      <th>RetainedJob</th>\n",
              "      <th>FranchiseCode</th>\n",
              "      <th>UrbanRural</th>\n",
              "      <th>RevLineCr</th>\n",
              "      <th>LowDoc</th>\n",
              "      <th>DisbursementDate</th>\n",
              "      <th>DisbursementGross</th>\n",
              "      <th>BalanceGross</th>\n",
              "      <th>MIS_Status</th>\n",
              "      <th>ChgOffPrinGr</th>\n",
              "      <th>GrAppv</th>\n",
              "      <th>SBA_Appv</th>\n",
              "    </tr>\n",
              "  </thead>\n",
              "  <tbody>\n",
              "    <tr>\n",
              "      <th>0</th>\n",
              "      <td>92801</td>\n",
              "      <td>532420</td>\n",
              "      <td>2001-04-10</td>\n",
              "      <td>2001</td>\n",
              "      <td>36</td>\n",
              "      <td>1</td>\n",
              "      <td>1.0</td>\n",
              "      <td>0</td>\n",
              "      <td>0</td>\n",
              "      <td>1</td>\n",
              "      <td>0</td>\n",
              "      <td>Y</td>\n",
              "      <td>N</td>\n",
              "      <td>2001-05-01</td>\n",
              "      <td>32812</td>\n",
              "      <td>0</td>\n",
              "      <td>P I F</td>\n",
              "      <td>0</td>\n",
              "      <td>30000</td>\n",
              "      <td>15000</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>1</th>\n",
              "      <td>90505</td>\n",
              "      <td>531210</td>\n",
              "      <td>2001-06-05</td>\n",
              "      <td>2001</td>\n",
              "      <td>56</td>\n",
              "      <td>1</td>\n",
              "      <td>1.0</td>\n",
              "      <td>0</td>\n",
              "      <td>0</td>\n",
              "      <td>1</td>\n",
              "      <td>0</td>\n",
              "      <td>Y</td>\n",
              "      <td>N</td>\n",
              "      <td>2003-09-30</td>\n",
              "      <td>30000</td>\n",
              "      <td>0</td>\n",
              "      <td>P I F</td>\n",
              "      <td>0</td>\n",
              "      <td>30000</td>\n",
              "      <td>15000</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>2</th>\n",
              "      <td>92103</td>\n",
              "      <td>531210</td>\n",
              "      <td>2001-08-02</td>\n",
              "      <td>2001</td>\n",
              "      <td>36</td>\n",
              "      <td>10</td>\n",
              "      <td>1.0</td>\n",
              "      <td>0</td>\n",
              "      <td>0</td>\n",
              "      <td>1</td>\n",
              "      <td>0</td>\n",
              "      <td>Y</td>\n",
              "      <td>N</td>\n",
              "      <td>2001-09-01</td>\n",
              "      <td>30000</td>\n",
              "      <td>0</td>\n",
              "      <td>P I F</td>\n",
              "      <td>0</td>\n",
              "      <td>30000</td>\n",
              "      <td>15000</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>3</th>\n",
              "      <td>92108</td>\n",
              "      <td>531312</td>\n",
              "      <td>2003-01-14</td>\n",
              "      <td>2003</td>\n",
              "      <td>36</td>\n",
              "      <td>6</td>\n",
              "      <td>1.0</td>\n",
              "      <td>0</td>\n",
              "      <td>0</td>\n",
              "      <td>1</td>\n",
              "      <td>0</td>\n",
              "      <td>Y</td>\n",
              "      <td>N</td>\n",
              "      <td>2003-01-31</td>\n",
              "      <td>50000</td>\n",
              "      <td>0</td>\n",
              "      <td>P I F</td>\n",
              "      <td>0</td>\n",
              "      <td>50000</td>\n",
              "      <td>25000</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>4</th>\n",
              "      <td>91345</td>\n",
              "      <td>531390</td>\n",
              "      <td>2006-02-09</td>\n",
              "      <td>2006</td>\n",
              "      <td>240</td>\n",
              "      <td>65</td>\n",
              "      <td>1.0</td>\n",
              "      <td>3</td>\n",
              "      <td>65</td>\n",
              "      <td>1</td>\n",
              "      <td>1</td>\n",
              "      <td>0</td>\n",
              "      <td>N</td>\n",
              "      <td>2006-04-12</td>\n",
              "      <td>343000</td>\n",
              "      <td>0</td>\n",
              "      <td>P I F</td>\n",
              "      <td>0</td>\n",
              "      <td>343000</td>\n",
              "      <td>343000</td>\n",
              "    </tr>\n",
              "  </tbody>\n",
              "</table>\n",
              "</div>\n",
              "      <button class=\"colab-df-convert\" onclick=\"convertToInteractive('df-47ab1172-00df-461e-b7e7-5902ed8e3fa0')\"\n",
              "              title=\"Convert this dataframe to an interactive table.\"\n",
              "              style=\"display:none;\">\n",
              "        \n",
              "  <svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\"viewBox=\"0 0 24 24\"\n",
              "       width=\"24px\">\n",
              "    <path d=\"M0 0h24v24H0V0z\" fill=\"none\"/>\n",
              "    <path d=\"M18.56 5.44l.94 2.06.94-2.06 2.06-.94-2.06-.94-.94-2.06-.94 2.06-2.06.94zm-11 1L8.5 8.5l.94-2.06 2.06-.94-2.06-.94L8.5 2.5l-.94 2.06-2.06.94zm10 10l.94 2.06.94-2.06 2.06-.94-2.06-.94-.94-2.06-.94 2.06-2.06.94z\"/><path d=\"M17.41 7.96l-1.37-1.37c-.4-.4-.92-.59-1.43-.59-.52 0-1.04.2-1.43.59L10.3 9.45l-7.72 7.72c-.78.78-.78 2.05 0 2.83L4 21.41c.39.39.9.59 1.41.59.51 0 1.02-.2 1.41-.59l7.78-7.78 2.81-2.81c.8-.78.8-2.07 0-2.86zM5.41 20L4 18.59l7.72-7.72 1.47 1.35L5.41 20z\"/>\n",
              "  </svg>\n",
              "      </button>\n",
              "      \n",
              "  <style>\n",
              "    .colab-df-container {\n",
              "      display:flex;\n",
              "      flex-wrap:wrap;\n",
              "      gap: 12px;\n",
              "    }\n",
              "\n",
              "    .colab-df-convert {\n",
              "      background-color: #E8F0FE;\n",
              "      border: none;\n",
              "      border-radius: 50%;\n",
              "      cursor: pointer;\n",
              "      display: none;\n",
              "      fill: #1967D2;\n",
              "      height: 32px;\n",
              "      padding: 0 0 0 0;\n",
              "      width: 32px;\n",
              "    }\n",
              "\n",
              "    .colab-df-convert:hover {\n",
              "      background-color: #E2EBFA;\n",
              "      box-shadow: 0px 1px 2px rgba(60, 64, 67, 0.3), 0px 1px 3px 1px rgba(60, 64, 67, 0.15);\n",
              "      fill: #174EA6;\n",
              "    }\n",
              "\n",
              "    [theme=dark] .colab-df-convert {\n",
              "      background-color: #3B4455;\n",
              "      fill: #D2E3FC;\n",
              "    }\n",
              "\n",
              "    [theme=dark] .colab-df-convert:hover {\n",
              "      background-color: #434B5C;\n",
              "      box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);\n",
              "      filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.3));\n",
              "      fill: #FFFFFF;\n",
              "    }\n",
              "  </style>\n",
              "\n",
              "      <script>\n",
              "        const buttonEl =\n",
              "          document.querySelector('#df-47ab1172-00df-461e-b7e7-5902ed8e3fa0 button.colab-df-convert');\n",
              "        buttonEl.style.display =\n",
              "          google.colab.kernel.accessAllowed ? 'block' : 'none';\n",
              "\n",
              "        async function convertToInteractive(key) {\n",
              "          const element = document.querySelector('#df-47ab1172-00df-461e-b7e7-5902ed8e3fa0');\n",
              "          const dataTable =\n",
              "            await google.colab.kernel.invokeFunction('convertToInteractive',\n",
              "                                                     [key], {});\n",
              "          if (!dataTable) return;\n",
              "\n",
              "          const docLinkHtml = 'Like what you see? Visit the ' +\n",
              "            '<a target=\"_blank\" href=https://colab.research.google.com/notebooks/data_table.ipynb>data table notebook</a>'\n",
              "            + ' to learn more about interactive tables.';\n",
              "          element.innerHTML = '';\n",
              "          dataTable['output_type'] = 'display_data';\n",
              "          await google.colab.output.renderOutput(dataTable, element);\n",
              "          const docLink = document.createElement('div');\n",
              "          docLink.innerHTML = docLinkHtml;\n",
              "          element.appendChild(docLink);\n",
              "        }\n",
              "      </script>\n",
              "    </div>\n",
              "  </div>\n",
              "  "
            ]
          },
          "metadata": {},
          "execution_count": 11
        }
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "id": "-yMdkHSwnTRM",
        "colab": {
          "base_uri": "https://localhost:8080/",
          "height": 270
        },
        "outputId": "dcdf8d06-b773-40c1-aff5-c1f42aabf1df"
      },
      "source": [
        "# extracting the year in 'DisbursementDate'\n",
        "df['DisbursementDate'] = pd.DatetimeIndex(df['DisbursementDate']).year\n",
        "df.head()"
      ],
      "execution_count": 12,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "     Zip     ICS ApprovalDate  ApprovalFY  Term  NoEmp  NewExist  CreateJob  \\\n",
              "0  92801  532420   2001-04-10        2001    36      1       1.0          0   \n",
              "1  90505  531210   2001-06-05        2001    56      1       1.0          0   \n",
              "2  92103  531210   2001-08-02        2001    36     10       1.0          0   \n",
              "3  92108  531312   2003-01-14        2003    36      6       1.0          0   \n",
              "4  91345  531390   2006-02-09        2006   240     65       1.0          3   \n",
              "\n",
              "   RetainedJob  FranchiseCode  UrbanRural RevLineCr LowDoc  DisbursementDate  \\\n",
              "0            0              1           0         Y      N              2001   \n",
              "1            0              1           0         Y      N              2003   \n",
              "2            0              1           0         Y      N              2001   \n",
              "3            0              1           0         Y      N              2003   \n",
              "4           65              1           1         0      N              2006   \n",
              "\n",
              "   DisbursementGross  BalanceGross MIS_Status  ChgOffPrinGr  GrAppv  SBA_Appv  \n",
              "0              32812             0      P I F             0   30000     15000  \n",
              "1              30000             0      P I F             0   30000     15000  \n",
              "2              30000             0      P I F             0   30000     15000  \n",
              "3              50000             0      P I F             0   50000     25000  \n",
              "4             343000             0      P I F             0  343000    343000  "
            ],
            "text/html": [
              "\n",
              "  <div id=\"df-cc3dead5-baf7-4df7-8f94-ef4c32bf5719\">\n",
              "    <div class=\"colab-df-container\">\n",
              "      <div>\n",
              "<style scoped>\n",
              "    .dataframe tbody tr th:only-of-type {\n",
              "        vertical-align: middle;\n",
              "    }\n",
              "\n",
              "    .dataframe tbody tr th {\n",
              "        vertical-align: top;\n",
              "    }\n",
              "\n",
              "    .dataframe thead th {\n",
              "        text-align: right;\n",
              "    }\n",
              "</style>\n",
              "<table border=\"1\" class=\"dataframe\">\n",
              "  <thead>\n",
              "    <tr style=\"text-align: right;\">\n",
              "      <th></th>\n",
              "      <th>Zip</th>\n",
              "      <th>ICS</th>\n",
              "      <th>ApprovalDate</th>\n",
              "      <th>ApprovalFY</th>\n",
              "      <th>Term</th>\n",
              "      <th>NoEmp</th>\n",
              "      <th>NewExist</th>\n",
              "      <th>CreateJob</th>\n",
              "      <th>RetainedJob</th>\n",
              "      <th>FranchiseCode</th>\n",
              "      <th>UrbanRural</th>\n",
              "      <th>RevLineCr</th>\n",
              "      <th>LowDoc</th>\n",
              "      <th>DisbursementDate</th>\n",
              "      <th>DisbursementGross</th>\n",
              "      <th>BalanceGross</th>\n",
              "      <th>MIS_Status</th>\n",
              "      <th>ChgOffPrinGr</th>\n",
              "      <th>GrAppv</th>\n",
              "      <th>SBA_Appv</th>\n",
              "    </tr>\n",
              "  </thead>\n",
              "  <tbody>\n",
              "    <tr>\n",
              "      <th>0</th>\n",
              "      <td>92801</td>\n",
              "      <td>532420</td>\n",
              "      <td>2001-04-10</td>\n",
              "      <td>2001</td>\n",
              "      <td>36</td>\n",
              "      <td>1</td>\n",
              "      <td>1.0</td>\n",
              "      <td>0</td>\n",
              "      <td>0</td>\n",
              "      <td>1</td>\n",
              "      <td>0</td>\n",
              "      <td>Y</td>\n",
              "      <td>N</td>\n",
              "      <td>2001</td>\n",
              "      <td>32812</td>\n",
              "      <td>0</td>\n",
              "      <td>P I F</td>\n",
              "      <td>0</td>\n",
              "      <td>30000</td>\n",
              "      <td>15000</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>1</th>\n",
              "      <td>90505</td>\n",
              "      <td>531210</td>\n",
              "      <td>2001-06-05</td>\n",
              "      <td>2001</td>\n",
              "      <td>56</td>\n",
              "      <td>1</td>\n",
              "      <td>1.0</td>\n",
              "      <td>0</td>\n",
              "      <td>0</td>\n",
              "      <td>1</td>\n",
              "      <td>0</td>\n",
              "      <td>Y</td>\n",
              "      <td>N</td>\n",
              "      <td>2003</td>\n",
              "      <td>30000</td>\n",
              "      <td>0</td>\n",
              "      <td>P I F</td>\n",
              "      <td>0</td>\n",
              "      <td>30000</td>\n",
              "      <td>15000</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>2</th>\n",
              "      <td>92103</td>\n",
              "      <td>531210</td>\n",
              "      <td>2001-08-02</td>\n",
              "      <td>2001</td>\n",
              "      <td>36</td>\n",
              "      <td>10</td>\n",
              "      <td>1.0</td>\n",
              "      <td>0</td>\n",
              "      <td>0</td>\n",
              "      <td>1</td>\n",
              "      <td>0</td>\n",
              "      <td>Y</td>\n",
              "      <td>N</td>\n",
              "      <td>2001</td>\n",
              "      <td>30000</td>\n",
              "      <td>0</td>\n",
              "      <td>P I F</td>\n",
              "      <td>0</td>\n",
              "      <td>30000</td>\n",
              "      <td>15000</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>3</th>\n",
              "      <td>92108</td>\n",
              "      <td>531312</td>\n",
              "      <td>2003-01-14</td>\n",
              "      <td>2003</td>\n",
              "      <td>36</td>\n",
              "      <td>6</td>\n",
              "      <td>1.0</td>\n",
              "      <td>0</td>\n",
              "      <td>0</td>\n",
              "      <td>1</td>\n",
              "      <td>0</td>\n",
              "      <td>Y</td>\n",
              "      <td>N</td>\n",
              "      <td>2003</td>\n",
              "      <td>50000</td>\n",
              "      <td>0</td>\n",
              "      <td>P I F</td>\n",
              "      <td>0</td>\n",
              "      <td>50000</td>\n",
              "      <td>25000</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>4</th>\n",
              "      <td>91345</td>\n",
              "      <td>531390</td>\n",
              "      <td>2006-02-09</td>\n",
              "      <td>2006</td>\n",
              "      <td>240</td>\n",
              "      <td>65</td>\n",
              "      <td>1.0</td>\n",
              "      <td>3</td>\n",
              "      <td>65</td>\n",
              "      <td>1</td>\n",
              "      <td>1</td>\n",
              "      <td>0</td>\n",
              "      <td>N</td>\n",
              "      <td>2006</td>\n",
              "      <td>343000</td>\n",
              "      <td>0</td>\n",
              "      <td>P I F</td>\n",
              "      <td>0</td>\n",
              "      <td>343000</td>\n",
              "      <td>343000</td>\n",
              "    </tr>\n",
              "  </tbody>\n",
              "</table>\n",
              "</div>\n",
              "      <button class=\"colab-df-convert\" onclick=\"convertToInteractive('df-cc3dead5-baf7-4df7-8f94-ef4c32bf5719')\"\n",
              "              title=\"Convert this dataframe to an interactive table.\"\n",
              "              style=\"display:none;\">\n",
              "        \n",
              "  <svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\"viewBox=\"0 0 24 24\"\n",
              "       width=\"24px\">\n",
              "    <path d=\"M0 0h24v24H0V0z\" fill=\"none\"/>\n",
              "    <path d=\"M18.56 5.44l.94 2.06.94-2.06 2.06-.94-2.06-.94-.94-2.06-.94 2.06-2.06.94zm-11 1L8.5 8.5l.94-2.06 2.06-.94-2.06-.94L8.5 2.5l-.94 2.06-2.06.94zm10 10l.94 2.06.94-2.06 2.06-.94-2.06-.94-.94-2.06-.94 2.06-2.06.94z\"/><path d=\"M17.41 7.96l-1.37-1.37c-.4-.4-.92-.59-1.43-.59-.52 0-1.04.2-1.43.59L10.3 9.45l-7.72 7.72c-.78.78-.78 2.05 0 2.83L4 21.41c.39.39.9.59 1.41.59.51 0 1.02-.2 1.41-.59l7.78-7.78 2.81-2.81c.8-.78.8-2.07 0-2.86zM5.41 20L4 18.59l7.72-7.72 1.47 1.35L5.41 20z\"/>\n",
              "  </svg>\n",
              "      </button>\n",
              "      \n",
              "  <style>\n",
              "    .colab-df-container {\n",
              "      display:flex;\n",
              "      flex-wrap:wrap;\n",
              "      gap: 12px;\n",
              "    }\n",
              "\n",
              "    .colab-df-convert {\n",
              "      background-color: #E8F0FE;\n",
              "      border: none;\n",
              "      border-radius: 50%;\n",
              "      cursor: pointer;\n",
              "      display: none;\n",
              "      fill: #1967D2;\n",
              "      height: 32px;\n",
              "      padding: 0 0 0 0;\n",
              "      width: 32px;\n",
              "    }\n",
              "\n",
              "    .colab-df-convert:hover {\n",
              "      background-color: #E2EBFA;\n",
              "      box-shadow: 0px 1px 2px rgba(60, 64, 67, 0.3), 0px 1px 3px 1px rgba(60, 64, 67, 0.15);\n",
              "      fill: #174EA6;\n",
              "    }\n",
              "\n",
              "    [theme=dark] .colab-df-convert {\n",
              "      background-color: #3B4455;\n",
              "      fill: #D2E3FC;\n",
              "    }\n",
              "\n",
              "    [theme=dark] .colab-df-convert:hover {\n",
              "      background-color: #434B5C;\n",
              "      box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);\n",
              "      filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.3));\n",
              "      fill: #FFFFFF;\n",
              "    }\n",
              "  </style>\n",
              "\n",
              "      <script>\n",
              "        const buttonEl =\n",
              "          document.querySelector('#df-cc3dead5-baf7-4df7-8f94-ef4c32bf5719 button.colab-df-convert');\n",
              "        buttonEl.style.display =\n",
              "          google.colab.kernel.accessAllowed ? 'block' : 'none';\n",
              "\n",
              "        async function convertToInteractive(key) {\n",
              "          const element = document.querySelector('#df-cc3dead5-baf7-4df7-8f94-ef4c32bf5719');\n",
              "          const dataTable =\n",
              "            await google.colab.kernel.invokeFunction('convertToInteractive',\n",
              "                                                     [key], {});\n",
              "          if (!dataTable) return;\n",
              "\n",
              "          const docLinkHtml = 'Like what you see? Visit the ' +\n",
              "            '<a target=\"_blank\" href=https://colab.research.google.com/notebooks/data_table.ipynb>data table notebook</a>'\n",
              "            + ' to learn more about interactive tables.';\n",
              "          element.innerHTML = '';\n",
              "          dataTable['output_type'] = 'display_data';\n",
              "          await google.colab.output.renderOutput(dataTable, element);\n",
              "          const docLink = document.createElement('div');\n",
              "          docLink.innerHTML = docLinkHtml;\n",
              "          element.appendChild(docLink);\n",
              "        }\n",
              "      </script>\n",
              "    </div>\n",
              "  </div>\n",
              "  "
            ]
          },
          "metadata": {},
          "execution_count": 12
        }
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "id": "9neOeblDnTRO"
      },
      "source": [
        "# drop 'ApprovalDate' since it is no longer needed\n",
        "df.drop(columns = ['ApprovalDate'], inplace = True)"
      ],
      "execution_count": 13,
      "outputs": []
    },
    {
      "cell_type": "code",
      "metadata": {
        "id": "WuD4CBG_nTRR"
      },
      "source": [
        ""
      ],
      "execution_count": null,
      "outputs": []
    },
    {
      "cell_type": "code",
      "metadata": {
        "id": "c95i1InfnTRU"
      },
      "source": [
        ""
      ],
      "execution_count": null,
      "outputs": []
    },
    {
      "cell_type": "code",
      "metadata": {
        "scrolled": true,
        "id": "ylF-NKFCnTRX",
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "outputId": "30f58842-94e4-4049-e585-1a07c68b653f"
      },
      "source": [
        "# check unique values in each variable to ensure there is no inconsistency\n",
        "my_cols = df.columns.to_list()\n",
        "\n",
        "for col in my_cols:\n",
        "    print(\"Variable:\", col)\n",
        "    print(\"Number of unique values:\", df[col].nunique())\n",
        "    print(df[col].unique())\n",
        "    print()"
      ],
      "execution_count": 14,
      "outputs": [
        {
          "output_type": "stream",
          "name": "stdout",
          "text": [
            "Variable: Zip\n",
            "Number of unique values: 810\n",
            "[92801 90505 92103 92108 91345 95831 90255 90808 92704 94583 91360 94103\n",
            " 95746 91354 95965 91505 94550 92101 95695 91356 92507 90662 91604 94080\n",
            " 90305 95030 94901 94707 95037 91208 95630 93610 92656 92545 92708 92868\n",
            " 92307 93274 93546 92590 92301 91941 91789 92831 92648 92083 91730 94117\n",
            " 93611 92260 94931 92701 95945 92688 92887 95628 91502 93604 91221 94070\n",
            " 92879 94526 92115 90210 93010 94546 92807 91301 92056 91311 92130 90036\n",
            " 94588 91607 90504 91914 92173 90274 90006 92649 90016 90242 91030 91780\n",
            " 94706 94115 94519 93906 91606 92612 91201 90010 95521 92084 92627 91342\n",
            " 91364 92411 95337 90211 90266 95678 91601 94523 91709 92553 91776 95010\n",
            " 92549 90201 94606 90631 92110 92544 92234 90004 90293 90303 92883 91106\n",
            " 92501 91303 92404 93433 94104 95821 95621 93905 94510 93654 90039 92630\n",
            " 95603 92009 91762 91362 92660 92026 94541 90706 95361 94089 92504 94301\n",
            " 92653 95677 95825 90025 90063 95128 95123 94111 92663 93060 91205 92408\n",
            " 90606 90046 95212 92109 94108 95814 90020 92509 92336 92562 91773 91402\n",
            " 90005 95842 94023 90041 92832 91764 91506 93021 94124 90806 93619 91390\n",
            " 92833 90212 94805 90241 92106 94574 90249 93140 94536 94577 91733 94133\n",
            " 95928 95826 95540 94545 93219 92592 94403 90265 91745 91786 96013 92024\n",
            " 94513 95354 95926 91340 92614 93291 93292 90703 92025 92010 94534 90720\n",
            " 91316 91784 95363 95054 95023 93711 95758 93702 94044 90680 95624 93612\n",
            " 94303 95816 95401 94928 90804 91304 90071 94129 95451 93257 94585 91355\n",
            " 93730 90716 95690 95148 90503 93449 93535 91343 94531 92591 95062 95131\n",
            " 92107 95132 92867 95110 94533 95204 92870 95201 91016 92626 93221 95070\n",
            " 90066 91405 95959 92505 92086 96080 92886 92882 92359 95377 91344 94587\n",
            " 93529 95138 90045 92264 94123 94110 92127 94087 92116 93101 94514 94954\n",
            " 94404 90094 90660 90651 90245 93933 90717 95691 93232 91040 93230 94401\n",
            " 93003 92804 91910 92104 94134 91710 96001 92037 92865 94607 91335 95014\n",
            " 90404 90040 90401 93534 92069 94941 95991 93704 95762 93247 91306 90222\n",
            " 94903 91204 91352 94107 90240 92625 93940 90620 92860 95008 90807 93638\n",
            " 91324 94116 95757 94506 95111 91101 95620 90069 94521 93706 93710 92891\n",
            " 92821 96161 95116 90044 91792 93105 95834 90277 90605 94086 90068 95351\n",
            " 92632 90502 94560 92253 91367 92019 91104 92114 95120 95161 92647 90501\n",
            " 95648 95501 92606 95403 90746 93921 92543 92021 90292 94568 95382 92557\n",
            " 95641 92344 90007 91706 90254 95650 93458 90057 95765 94597 92685 95610\n",
            " 90831 94547 93551 92123 91913 94114 93410 94590 90015 91722 93401 91744\n",
            " 94030 94947 91406 90065 90230 95035 94118 95125 91729 95823 92595 94511\n",
            " 92694 92065 92618 93510 95966 93001 91423 93923 90723 95828 91917 95307\n",
            " 90731 90405 94804 92121 92399 93455 95358 92335 93277 93536 91206 91739\n",
            " 92117 92880 92128 90048 95961 92844 90248 91302 95020 94806 94539 94565\n",
            " 95051 91203 95490 95127 92672 90018 91711 94595 92805 92530 92840 90029\n",
            " 91701 90745 91331 90802 92014 92129 92866 92008 91746 92122 94538 95220\n",
            " 93063 95370 94925 91748 94544 92126 92111 95113 94602 93030 95340 91750\n",
            " 92405 94610 94509 91763 90803 92240 95112 90001 91768 91504 94505 94566\n",
            " 94618 92683 91605 92139 92324 91107 94502 92705 94551 94703 90043 90008\n",
            " 95688 92078 93012 95820 92624 93065 94619 95159 95608 91978 92028 94065\n",
            " 91011 90024 95405 92563 92508 90019 94010 94558 91321 91732 93004 95126\n",
            " 91436 91041 91723 92345 94609 91361 95482 94109 91042 92707 85008 92003\n",
            " 91602 91761 94612 92020 92154 96022 90028 95136 90755 90272 95356 90026\n",
            " 92780 92082 92691 92227 90650 93701 91932 95525 95066 92064 95404 91901\n",
            " 92675 90301 95661 96093 95129 90278 92054 94501 90744 91752 95076 90302\n",
            " 92571 92102 90031 92802 95682 93263 90640 92243 95069 93550 92673 92806\n",
            " 92651 95949 95115 95383 93117 92118 95683 95134 93307 90670 93635 91408\n",
            " 93240 95376 93309 91320 94507 92315 93308 92360 95472 90638 94014 90034\n",
            " 91326 95060 95971 94710 93726 92503 91006 93108 95205 95987 92131 95301\n",
            " 94002 95662 95901 92373 95050 95827 95324 95005 91020 91350 93725 92270\n",
            " 93561 92105 95006 95833 93304 90221 90042 90232 92391 95713 92835 95133\n",
            " 95832 90058 92604 92057 92703 92881 95822 94122 91207 91911 91403 90061\n",
            " 94591 93634 92677 91719 94063 92584 95667 95100 95002 95366 92120 94022\n",
            " 90260 95684 96002 95993 92316 90003 95207 92706 95632 91307 91765 95660\n",
            " 95843 94603 93442 91351 92646 93727 90027 93301 94589 94559 90049 90601\n",
            " 94611 95747 94417 93013 91702 92392 82037 92311 92841 94102 90275 91411\n",
            " 95219 90037 90290 93036 95315 93312 92124 95437 91770 93022 95407 92397\n",
            " 91384 92201 93446 94553 90038 91942 92071 95815 93225 91724 93901 95696\n",
            " 90067 94564 95209 92506 96130 95863 91775 96145 95102 92692 93613 92313\n",
            " 95350 93306 90250 95492 81301 90022 92277 95817 92620 95118 90017 90623\n",
            " 95330 93955 92666 91803 92621 93930 92586 90630 95616 91977 93648 94580\n",
            " 95425 94945 90014 95461 91105 92570 92251 94015 95969 96120 92827 93518\n",
            " 95135 92075 91915 95841 92782 65757 94949 94019 95215 95368 91001 94991\n",
            " 93728 93041 90291 93662 91902 92346]\n",
            "\n",
            "Variable: ICS\n",
            "Number of unique values: 24\n",
            "[532420 531210 531312 531390 531320 532299 531311 532111 533110 532230\n",
            " 532490 532112 532120 532292 532291 532412 531110 531190 531120 532411\n",
            " 532310 532210 531130 532220]\n",
            "\n",
            "Variable: ApprovalFY\n",
            "Number of unique values: 23\n",
            "[2001 2003 2006 2004 1997 2005 1998 2007 1999 2008 2000 2009 1989 1990\n",
            " 2010 1991 2011 1992 2002 1993 1994 1995 1996]\n",
            "\n",
            "Variable: Term\n",
            "Number of unique values: 170\n",
            "[ 36  56 240  84 269  22  64  76  60 300  38  62  67  32  34  33   4  50\n",
            "  61  42  49  53  19  25  28  39 119  68  18  47  57  30  71  29  73  43\n",
            " 268  11  23  58  63  41  55  78  59  51  54  44 120   7  40   8  20  48\n",
            "  46  52  72  21  37  65  24 283  35   5   9  45  69   2  90 109 279  70\n",
            "  66 259  99 220 275  12  98  26 276   1 277  97  75  27   0  93  88 273\n",
            " 111 101 257  83  82  74 243  31 289 297 287 108 291 288 235 107  95 168\n",
            "  92  80  85   3  16 110  15 264  89 115 106 301 114 143 102 216  96 155\n",
            "  94 306 303  91 180  87 104  14 138 272 304 123 228 122 116 305 204 252\n",
            " 254  13 132 126   6  79  17 205 260 294 208 217  77 192 129 270  86 219\n",
            " 263 267 290 250 227 248 230 210]\n",
            "\n",
            "Variable: NoEmp\n",
            "Number of unique values: 83\n",
            "[  1  10   6  65   2   5   4  12   8  13  15  22   3  30   7  18  58 345\n",
            "   9  16  34  80  31  21  20 130  19  24  38 150  14  23  35  11 100   0\n",
            "  25  50 140  56  36  42  40  28  70  17 113  32  74  67  49 102  27  55\n",
            "  26  57  47  68  60 600 129 225  85 237  48  75  53  71 244  90 107 110\n",
            "  39 195 535 220 120 450 327  45 650  88  44]\n",
            "\n",
            "Variable: NewExist\n",
            "Number of unique values: 3\n",
            "[1. 2. 0.]\n",
            "\n",
            "Variable: CreateJob\n",
            "Number of unique values: 43\n",
            "[  0   3   2   7   8   4   1   6  20  13  12   5  69  50   9  21  10  15\n",
            "  37  30  26  45  11  35  19  60  18 100  23  24  14  17  40 130  16  75\n",
            "  32  25  22  63  27  28  65]\n",
            "\n",
            "Variable: RetainedJob\n",
            "Number of unique values: 62\n",
            "[  0  65   2   1  20   3   4  18  58  12  13  30   6   5   7   9  16   8\n",
            "  34  80  31  21  50  10  19  38  15  14  11  23 100  25  56  40  36  24\n",
            "  42  28  70  17  32  22  35  74  67 102  55  26 150  57 130  60  85  48\n",
            "  75 244  39 535 220 327  88  44]\n",
            "\n",
            "Variable: FranchiseCode\n",
            "Number of unique values: 33\n",
            "[    1 15710 37481     0 69149  1357 18000 89658 69560 68060 43571 68905\n",
            " 28233 41298 18160 79897 88407 67219 49952 28236 81800 66450 88905 88902\n",
            " 26685 10533 10465 68880 78760 33747 44890 15100 87075]\n",
            "\n",
            "Variable: UrbanRural\n",
            "Number of unique values: 3\n",
            "[0 1 2]\n",
            "\n",
            "Variable: RevLineCr\n",
            "Number of unique values: 4\n",
            "['Y' '0' 'N' 'T']\n",
            "\n",
            "Variable: LowDoc\n",
            "Number of unique values: 5\n",
            "['N' 'Y' 'S' 'A' '0']\n",
            "\n",
            "Variable: DisbursementDate\n",
            "Number of unique values: 22\n",
            "[2001 2003 2006 2004 2007 1997 2005 2008 1999 1998 2009 2000 1989 2010\n",
            " 1990 2002 1991 1992 1993 1994 1995 1996]\n",
            "\n",
            "Variable: DisbursementGross\n",
            "Number of unique values: 1180\n",
            "[ 32812  30000  50000 ... 105766  92502 251150]\n",
            "\n",
            "Variable: BalanceGross\n",
            "Number of unique values: 1\n",
            "[0]\n",
            "\n",
            "Variable: MIS_Status\n",
            "Number of unique values: 2\n",
            "['P I F' 'CHGOFF']\n",
            "\n",
            "Variable: ChgOffPrinGr\n",
            "Number of unique values: 613\n",
            "[      0  247074   35333   47211   29700    9709    4999   50000   16728\n",
            "    8415   38832    1547   24952   49447   10000   61348   61325   41691\n",
            "    8469   25000    5897   36562   15000   40000   45000    3955   73426\n",
            "   20953   64362   44065   48632   49725   48304   33294   34794  230645\n",
            "   13744    8417   20357   14587   36179   32141   93700   45747   29638\n",
            "   44496   51609    3783   48904   20000    4299   40042   28987   44239\n",
            "   19077   39184   38036   43770   23950   70294   70525   19119   29219\n",
            "   34164   61731   14193   39369   20886   12317   20635   29997   15098\n",
            "   49000   10500   49500    6030    9867   17840   40977   44467   24400\n",
            "   19800    9935    9350   40250   31469    9477   20198   49995   14733\n",
            "   39444   23373   44950    1963   42580    9210   42170    8704   85306\n",
            "  527577   27308   49091   23403    4476   99318    9900   40704    1580\n",
            "    8471    5491   27275   24229    6651   94880   46028   24245   22498\n",
            "    9578   49478  100000   39700   44319   21928   43847   37140    9703\n",
            "   35000   99500   45818   30573   16557   31833   30588    3533    9830\n",
            "   22998  181156   90000   23200   94561   85000   20484   22353   30000\n",
            "   71384  190658   29016   14139   41569   49701   49121   25680    4885\n",
            "   24320    4466   19999   11599   29630   33314   29843  302116   19954\n",
            "  102282   34000    9852   24389   48892    4900   49088  150000   29978\n",
            "   19199   47554    8430   37919   19690   37499   23022   48152   88157\n",
            "   14340  552478   91904   34999   16414   19974   18534    3596   49256\n",
            "    5249   10854    9618   19000    7263   62814    9179  169818   24414\n",
            "   49140   34500   82020    9049   51274   19489   44879   18954   82500\n",
            "   34450   59149  156200  149780   23199   49021   32999   10392    4763\n",
            "   49986  351877   46714   44750   23961   10954   80455    9972   10220\n",
            "  183829    5716    9989   19313   49645   45507   20755  405890    4954\n",
            "   92524   24221   20689   34421   78098   23709   48842   44959   47648\n",
            "  493800  219484   21189    9800    6400  776318   34656   49912   83771\n",
            "   34953   47876  208072   17809   29998  388255   83522   49468    9662\n",
            "    6000  140529   10283   33000  334176   88462    8296   22592  205202\n",
            "   29776  189555   23509   34300   16950   49671   49166   23212   46135\n",
            "   21412   24567  642404   98151   24842   29574   17768   34407   11386\n",
            "    9920   28579   34406   27550   45099    9519   17798   18011   21529\n",
            "    9492   75000   33196   36426   47443  126545   33071    6232   12122\n",
            "   34332  376534    8283   27950    5161    6600   34305   29538   32000\n",
            "   19660    8165   16437   37750   38978   94526   22499   24998   27686\n",
            "   37419   25968   35018   33952    9729   80011   19836   47408   26996\n",
            "  129401   14835   33831   24569   24988   49077   48707   10421   24995\n",
            "   49753   39615   67000   29275   17702   28509   38975   34133  498800\n",
            "   24550   98333   16332   31764 1509550   21664    5000   16619 1058672\n",
            "   43000   24850   49395    7209    8772   12996   49592   28276   22174\n",
            "    9950   29156   46930   89313   27750   22759  205967   35566   49965\n",
            "   34173   49803   14999   59743   42787   37875    2415  105173   12562\n",
            "   44942   12055    9948  348248   45867   98005   36988   49809   34567\n",
            "   14840   20465   26059    4997   33668   28020   24417   33050   48978\n",
            "    8909   14659   49503   24634    8702   24780   94617   31159   18075\n",
            "    4023   49936   18094   23372    9231   48660   46622   47161   20012\n",
            "   47529   28672  370178   29242   23333   47462   22863   16343   21268\n",
            "  117631    8828   36524   47461   29181   28835   99000   49915   28821\n",
            "    9481   19694   11739   16463   22050   27181   13333   12035   22206\n",
            "    9932    4149  135645   63024   72182  573429   92701   21398    6525\n",
            "    5833  237180   23426    9733    9645    8933  183645  211800   22990\n",
            "    9057  398632   62767    7277  103524    4331   96262  191431   32877\n",
            "  279312   33862    9090   13800   29979    5604   23246   74525   32099\n",
            "  128378   26503   43029   36650   16251   26260   48193     415   47142\n",
            "  114474    4805    9549   14977    8432    5164    2242    3928    9209\n",
            "    1494   38398   34549   20521   31037   75872   16847    4835   49950\n",
            "    4931  203460    4724   14998   34981  104752   28575    4340    1360\n",
            "   34327   12790    4894   49750   30567   38985    9576   20993   18441\n",
            "    5092  290002   37033   47725    5224   44121    8463    6889   36843\n",
            "   29287  143620   12765   11049    3377   55879    8017  166805   28522\n",
            "  169122   84575   13066    8159   44843   24500    7159   84172  201962\n",
            "   21418   43928    5301  586026    6752   67231   19834   26537   28120\n",
            "   60786  332877   89902   39799   13866   19875   69579   33946  197158\n",
            "   19962 1255175   30771    4034     161   83203  303096   90440   40336\n",
            "   24485   76615    3980   53953   23964   24782  634549  125933  229450\n",
            "  299892  451002   13635   35964   14783   27829   28623   65519   19891\n",
            "  161873   43654   39944  800054  113898   44973   21110   21729   23594\n",
            "    9994]\n",
            "\n",
            "Variable: GrAppv\n",
            "Number of unique values: 659\n",
            "[  30000   50000  343000  297500   10000   14000   25000   20000 1000000\n",
            "   79000  249000   35000  150500  100000   12000   11000   90000  229000\n",
            "   15000   40000   60000   45000  568000  357000   22000   47900  504000\n",
            "  557000  394200   28500   75000  914000  302000   31000   52500  150000\n",
            " 1240000  140000  257000    5000  105000  825000  720000   10800  369000\n",
            "   24000   74300   12700  669000   25800  952000   10500  500000   65000\n",
            "    7000  905000   40500   41000   36000 1117000 1067000   49000  200000\n",
            "   63000  990000 1525000  278400   62000 2000000  360000  320000   28000\n",
            "  454000  125000    5500  167000  970000   76500   12500  404000   23000\n",
            "  441000  344000  547000   85000   48000   16000  521538   29600  785000\n",
            "   27000   33000  475000   70000  791000  590600  531700  250000   32100\n",
            "   29000  881800  640700  230500  392000  180000  688500  610000  497000\n",
            "   19000   67500  526000  193200   19300   82500  240000  160000  341000\n",
            "  120000  104000  580000  481500  300000  134000  286000  165000  724000\n",
            "   32900  371000 1050000  598000 1003000  716300 1836000 1386000 1329000\n",
            "  893000   55000  149800  170000  493800  882000    4500    8000 1493000\n",
            "  271900  658000  120500    6000  251000   76000  612000  804000  540000\n",
            "  326000  534200  350000   80000  234000 1620000  883000  848000 1060000\n",
            "    7500  124000  544000  248000  322000  157000 1124000   37000 1029000\n",
            "  798000  409000  550000 1491000  150800  597000   39000  773000 1400000\n",
            "   37500   47000  310000  641000  132000  761000  231000  320500   67000\n",
            "  529000  700000   16500   26000 1944300  450000  216000  148000  108000\n",
            " 1093000  446000  277000  373100  585000 1025000  156000   17000  542200\n",
            "  425000  394000  245000  866900  315000  291000  158500  281000  268000\n",
            "  252200  510800 1799000 1048000  307000  452000  750000  501000 1596200\n",
            "  318000 1655000 1583000  588000  675000  201000   86400  212400  405000\n",
            "  297000  364000  365000  910000  526500  708000  575000  296000  308500\n",
            "  820000   38000   95000  639400 1375000 1682000  771000  130000  460000\n",
            "  266400  479000   52200  712700  427500  215000   93000 1665000  285000\n",
            "  243000  252000  255000  936000  235000  115000  803000   49500  212000\n",
            "  171000  230000  270000  435000  138000 1500000  348000  480000 1556000\n",
            "  900000  225000  574000  446800  632100 1177500  129000  185000   25200\n",
            " 1150000  222000  327000  161000  618000  135000 1344400  136500  193000\n",
            "  126000  688000  594000 1149000  577000  115400  333000  127500  517500\n",
            "  607000  400000   88000  414000   50300  163000  536000  188000  338000\n",
            "  440000  229200  125100  751000   24700  205000  701400  220000  306000\n",
            "  322400  256000  495000  551000  409500  510000  222700  158000  210000\n",
            "  254500  619000   99000  330000  512000  455000  271800  181000  345000\n",
            "  260000  545000 2350000  143000  434000  288000   58000  211900  183000\n",
            "   89000   94000  265500  110000  899000  866800  864000   64700  810000\n",
            "  168000  862500   97500  626000  726000  428000  256800   96800  375000\n",
            "  614700  189000  280000   68000  670000  152500  981000  396000  145900\n",
            "  380000  175000  199598  935000  377500  323000  732000   24400  167300\n",
            "  283000  148500  712300 1278000  346000  760500  240500  186800  218900\n",
            "  331000  496000  738700  399000 1333000  762000  191000  374400  925000\n",
            "  223000  169300  359000  431000  370000   28300  666000  735000   84000\n",
            "  317000  493400  595000  155000 1170000 1071000 1285000  289000  410500\n",
            "  412000 1352100  576000  321300 1298000  600000 1300000 1084000  907000\n",
            " 1250000  145590  153000  183300  182000  625500 1330000  292900  532000\n",
            "  739500  725000  706100  541000  128000  286800 1450000 1232500  107000\n",
            " 1200000  562500   16700  807500  763000  420000 1020000  830000  337600\n",
            "  318700  397000  127000  419000  999000  657000  269000  296200   78000\n",
            "   19100  366000  290000  298000  294000  151000  422000  508500   56000\n",
            "  123000  372000  351000 1056200 1015600  204000  145000  427100  484000\n",
            "  107700   97800 1310000  571500  765000  136000  465000 1264600  335000\n",
            "   21800  340000  275000  603000   81000    8600  768000  284000  459000\n",
            "  190000  307500  951000  502000  162000   14300  640000  517000  904000\n",
            "  395000  337000 1530000   57100  462000  680000  362000   25500  208000\n",
            "   47800 1385000  589000   18000  477000   50100  426000  620000  207000\n",
            "  176000  301500  312000  824000  931000  550100  472500  721000  187500\n",
            "   13200  757000 1001000  314300 1132000  902000  924000  523000  480200\n",
            "  567000  527000  539100  309000 1467000 1656500 1080000 1423700  269200\n",
            " 1030100  144000  305000  461000  463500  429000  621000  195000  273000\n",
            " 1340000 1899500   98000  401000  302400  661000  665000  505000  410000\n",
            "  403700  131000  336000  186000  652000  239000  169000  456000  549000\n",
            " 1440000  244836  221164  639000  253000   96000  178000  667000  704000\n",
            "  388000  218300  227000  336500  321000 1512000 1257000   31833  238000\n",
            "  119500  519000 1999000  711000  593000  325000 1027000 1476000  962900\n",
            "  853000  752000  179000  833000  770000  360100  988000  228000 1147500\n",
            "  659000  679000  378000  427000 1059000 1350000  790000  221000  264000\n",
            "  433000  658500  604000  950000  247000  550800 1073000 1046000  912000\n",
            " 1152000  271000  261900  502200  370800  697500  832500  152000  511700\n",
            "  172500  855000  650000  172000 1343000  444000 1435000 1215000   23500\n",
            "   64000   21000]\n",
            "\n",
            "Variable: SBA_Appv\n",
            "Number of unique values: 754\n",
            "[  15000   25000  343000  223125    5000    7000   12500   10000  750000\n",
            "   79000  249000   17500  112875   50000    6000    5500   72000  229000\n",
            "    7500   20000   30000   80000   22500  568000  357000   11000   23950\n",
            "  378000   45000   40000  557000  295650   14250   37500  914000  226500\n",
            "   15500   26250   75000  930000   70000   85000  192750    2500  105000\n",
            "  618750  540000    9180  276750   12000   37150    6350  669000   12900\n",
            "  714000    5250  375000   32500    3500  905000   20250   21250   20500\n",
            "   18000 1117000  800250   24500  100000   31500  742500   78750 1143750\n",
            "   42500  208800   31000 1500000  270000  240000   14000  454000  106250\n",
            "    2750  167000  727500   65025   10625    8500  404000   11500  330750\n",
            "  344000  547000   24000    8000  391153   14800   12750  150000  785000\n",
            "   13500   16500    4250   89250  475000   59500  593250   48000  442950\n",
            "  398775  187500   16050  127500   14500  661350    6250  480525  172875\n",
            "  392000  135000  516375  457500   17000  497000    9500   57375  394500\n",
            "  144900    9650   41250  180000  120000  341000   90000   41600  580000\n",
            "  361125  225000  100500  286000  165000  724000   16450  371000  749994\n",
            "  598000 1003000  537225 1836000 1386000  996750  893000   27500  127330\n",
            "  370350  661500    2250    4000 1119750  203925  493500   90375    3000\n",
            "  188250   60800  459000  804000  405000  244500  400650  262500  234000\n",
            " 1620000  883000  848000  795000    6375   93000  544000  248000  322000\n",
            "  157000 1124000   18500 1029000  798000  409000  412500 1491000  113100\n",
            "  597000   19500  773000   29750 1050000   18750   23500  310000  641000\n",
            "  112200  761000  231000  240375   33500  529000  525000    8250  720000\n",
            "   34000   13000 1458225  337500  162000  125800   81000 1093000  446000\n",
            "  207750  279825  585000 1025000   78000  406650  425000  394000   89031\n",
            "  245000  650175  236250  291000  118875  281000  268000  189150  383100\n",
            " 1799000  786000  230250  452000  562500  501000 1197150   60000  318000\n",
            " 1655000 1583000  588000 1000000  675000  201000   28800   69120  159300\n",
            "  303750  222750  364000  365000  682500  394875  531000  431250  296000\n",
            "  231375  820000   52000   30400   76000  479550 1031250 1682000  658000\n",
            "  771000   65000  345000  199800  359250   41760  534525  320625   70240\n",
            "    9000  215000   83700 1498500  256500  218700  125000  214200  191250\n",
            "   63750  842400  176250   86250   93750  803000   44550  212500  180200\n",
            "  170000  128250  112500  465850  195500  229500  391500  103500 1350000\n",
            "  108000  261000  360000    6750 1400400  453600  810000   54000  522000\n",
            "  168750   32000  430500  402120  568890 1059750  129000  506250  138750\n",
            "    4500   20160  362700 1035000  166500  294300  128800  556200  101250\n",
            "  680857   69129  202500  144750   94500  688000  445500  749998  577000\n",
            "   86550  249750   95625  388125  455250  300000   44000  414000   25150\n",
            "  163000  121500  536000  188000  250000  338000  440000  171900   93825\n",
            "  206550  751000   12350  153750   25500   46750  526050   68000  241800\n",
            "  256000  495900  307125  167025  158000  178500  450000  190875  619000\n",
            "   84150  247500  460800  117750   67500  341250  244620  181000  126000\n",
            "  258750  195000  408750 2115000  204000  107250  434000  295200  244800\n",
            "   52200  114750  180115  150060   80100   75200  326250  225675   99000\n",
            "  595000  674250  650100  648000   58230  607500   76500   63155  646875\n",
            "  102000   82875  532100  272000  726000  235000  321000  192600   82280\n",
            "  150750  136000  281250  461025  141750  210000   58500  536670   97750\n",
            "  114375  981000  297000  573750  124015  372750  117000  380000  131250\n",
            "  159678  935000  283125  242250  732000   12200  142205  212250   62500\n",
            "  126225  534225 1278000  259500  138000  570375  180375  140100  142285\n",
            "  331000  372000  554025  399000  999750  762000  143250  280800  693750\n",
            "  167250  126975  269250  323250  277500   24055  499500  551250   63000\n",
            "  253600  370050  446250  139500  877500 1071000  963750  182250  216750\n",
            "  307875  350200  999999  432000  240975 1298000 1300000  813000  907000\n",
            "  937500  131031  153000  137475  182000  469125  997500  219675  532000\n",
            "  554625  543750  529575  541000  128000  243780  924375   90950  255000\n",
            "  900000  421875    8350  108212  646000  572250  315000  179900  765000\n",
            "  622500  253200  239025  277900  127000  314250  999000  657000  297750\n",
            "  269000  222150   66300    9550  366000  217500  298000  220500  113250\n",
            "  422000  381375   28000   61500  351000  766917   93500  761700  108750\n",
            "  320325  363000   91545   83130  241500  982500  428625  348750   40600\n",
            "  948450  251250   10900    5100  206250  125250  452250    4300  768000\n",
            "  284000  344250  142500  230625  713250  502000    7150  480000  517000\n",
            "  904000  395000  936000  252750  999992   28550  275000  346500  680000\n",
            "  362000  156000   23900  999997  589000  357750   25050  298200  620000\n",
            "  207000  176000  226125  824000  931000  412575   72250  354375  175000\n",
            "  721000  189000  140625    6600  119000  757000 1001000  235725 1132000\n",
            "  676500  693000  392250  360150  425250  278250  527000  404325  231750\n",
            " 1100250 1242375 1067775  201900  515050  122400  305000  345750  347625\n",
            "   35000  321750  110500  465750  146250   40500  191100 1005000  700000\n",
            " 1424625   49000  300750  226800  208000  661000  665000  505000  350000\n",
            "  307500  302775  111350  252000  186000  489000  239000  169000  456000\n",
            "  412000  411750   56700 1080000  549000  183627  187989  109200  479250\n",
            "  189750   86400  133500  667000  528000  388000  163725   27000  435000\n",
            "  170250  252375  240750 1512000 1257000   25466  238000   89625  519000\n",
            "  441750 1999000  711000   29600  593000  325000 1330000   14400 1027000\n",
            " 1476000  144000  286777   39000  722175  853000  752000   38000  179000\n",
            "  833000  577500  270075  990000  988000  228000  860625  659000  509250\n",
            "  283500  427000 1059000  592500  221000  198000   47500  433000  493875\n",
            "  453000  712500  185250  384000  413100  330000  804750  615000 1046000\n",
            "  912000 1152000  271000  441000  196425  376650  278100  523125  624375\n",
            "  152000  383775  787500   21000  641250  134000  487500 1343000  155250\n",
            "  576000  444000 1435000  704700   11750   10500   79200]\n",
            "\n"
          ]
        }
      ]
    },
    {
      "cell_type": "markdown",
      "metadata": {
        "id": "_KSSlwrLnTRZ"
      },
      "source": [
        "The 'BalanceGross' variable has only one unique value (0) so we will remove it."
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "id": "M7mo3roUnTRa"
      },
      "source": [
        "df.drop(columns = ['BalanceGross'], inplace = True)"
      ],
      "execution_count": 15,
      "outputs": []
    },
    {
      "cell_type": "code",
      "metadata": {
        "id": "yYWrKJJFnTRg"
      },
      "source": [
        ""
      ],
      "execution_count": null,
      "outputs": []
    },
    {
      "cell_type": "markdown",
      "metadata": {
        "id": "T9wCXObRnTRi"
      },
      "source": [
        "We will encode some of our categorical variables for modeling."
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "id": "h8LDf9ZqnTRj",
        "colab": {
          "base_uri": "https://localhost:8080/",
          "height": 270
        },
        "outputId": "1c2b7c27-1a90-47bb-8d31-a5f145d5988f"
      },
      "source": [
        "df['RevLineCr'] = df['RevLineCr'].replace({'Y' : '1', 'N' : '2', 'T' : '3'})\n",
        "df['LowDoc'] = df['LowDoc'].replace({'N' : '1', 'Y' : '2', 'S' : '3', 'A' : '4'})\n",
        "df['MIS_Status'] = df['MIS_Status'].replace({'P I F' : '0', 'CHGOFF' : '1'})\n",
        "\n",
        "df.head()"
      ],
      "execution_count": 16,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "     Zip     ICS  ApprovalFY  Term  NoEmp  NewExist  CreateJob  RetainedJob  \\\n",
              "0  92801  532420        2001    36      1       1.0          0            0   \n",
              "1  90505  531210        2001    56      1       1.0          0            0   \n",
              "2  92103  531210        2001    36     10       1.0          0            0   \n",
              "3  92108  531312        2003    36      6       1.0          0            0   \n",
              "4  91345  531390        2006   240     65       1.0          3           65   \n",
              "\n",
              "   FranchiseCode  UrbanRural RevLineCr LowDoc  DisbursementDate  \\\n",
              "0              1           0         1      1              2001   \n",
              "1              1           0         1      1              2003   \n",
              "2              1           0         1      1              2001   \n",
              "3              1           0         1      1              2003   \n",
              "4              1           1         0      1              2006   \n",
              "\n",
              "   DisbursementGross MIS_Status  ChgOffPrinGr  GrAppv  SBA_Appv  \n",
              "0              32812          0             0   30000     15000  \n",
              "1              30000          0             0   30000     15000  \n",
              "2              30000          0             0   30000     15000  \n",
              "3              50000          0             0   50000     25000  \n",
              "4             343000          0             0  343000    343000  "
            ],
            "text/html": [
              "\n",
              "  <div id=\"df-8c9dca76-7015-4771-b3b9-04bc1a9c30f5\">\n",
              "    <div class=\"colab-df-container\">\n",
              "      <div>\n",
              "<style scoped>\n",
              "    .dataframe tbody tr th:only-of-type {\n",
              "        vertical-align: middle;\n",
              "    }\n",
              "\n",
              "    .dataframe tbody tr th {\n",
              "        vertical-align: top;\n",
              "    }\n",
              "\n",
              "    .dataframe thead th {\n",
              "        text-align: right;\n",
              "    }\n",
              "</style>\n",
              "<table border=\"1\" class=\"dataframe\">\n",
              "  <thead>\n",
              "    <tr style=\"text-align: right;\">\n",
              "      <th></th>\n",
              "      <th>Zip</th>\n",
              "      <th>ICS</th>\n",
              "      <th>ApprovalFY</th>\n",
              "      <th>Term</th>\n",
              "      <th>NoEmp</th>\n",
              "      <th>NewExist</th>\n",
              "      <th>CreateJob</th>\n",
              "      <th>RetainedJob</th>\n",
              "      <th>FranchiseCode</th>\n",
              "      <th>UrbanRural</th>\n",
              "      <th>RevLineCr</th>\n",
              "      <th>LowDoc</th>\n",
              "      <th>DisbursementDate</th>\n",
              "      <th>DisbursementGross</th>\n",
              "      <th>MIS_Status</th>\n",
              "      <th>ChgOffPrinGr</th>\n",
              "      <th>GrAppv</th>\n",
              "      <th>SBA_Appv</th>\n",
              "    </tr>\n",
              "  </thead>\n",
              "  <tbody>\n",
              "    <tr>\n",
              "      <th>0</th>\n",
              "      <td>92801</td>\n",
              "      <td>532420</td>\n",
              "      <td>2001</td>\n",
              "      <td>36</td>\n",
              "      <td>1</td>\n",
              "      <td>1.0</td>\n",
              "      <td>0</td>\n",
              "      <td>0</td>\n",
              "      <td>1</td>\n",
              "      <td>0</td>\n",
              "      <td>1</td>\n",
              "      <td>1</td>\n",
              "      <td>2001</td>\n",
              "      <td>32812</td>\n",
              "      <td>0</td>\n",
              "      <td>0</td>\n",
              "      <td>30000</td>\n",
              "      <td>15000</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>1</th>\n",
              "      <td>90505</td>\n",
              "      <td>531210</td>\n",
              "      <td>2001</td>\n",
              "      <td>56</td>\n",
              "      <td>1</td>\n",
              "      <td>1.0</td>\n",
              "      <td>0</td>\n",
              "      <td>0</td>\n",
              "      <td>1</td>\n",
              "      <td>0</td>\n",
              "      <td>1</td>\n",
              "      <td>1</td>\n",
              "      <td>2003</td>\n",
              "      <td>30000</td>\n",
              "      <td>0</td>\n",
              "      <td>0</td>\n",
              "      <td>30000</td>\n",
              "      <td>15000</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>2</th>\n",
              "      <td>92103</td>\n",
              "      <td>531210</td>\n",
              "      <td>2001</td>\n",
              "      <td>36</td>\n",
              "      <td>10</td>\n",
              "      <td>1.0</td>\n",
              "      <td>0</td>\n",
              "      <td>0</td>\n",
              "      <td>1</td>\n",
              "      <td>0</td>\n",
              "      <td>1</td>\n",
              "      <td>1</td>\n",
              "      <td>2001</td>\n",
              "      <td>30000</td>\n",
              "      <td>0</td>\n",
              "      <td>0</td>\n",
              "      <td>30000</td>\n",
              "      <td>15000</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>3</th>\n",
              "      <td>92108</td>\n",
              "      <td>531312</td>\n",
              "      <td>2003</td>\n",
              "      <td>36</td>\n",
              "      <td>6</td>\n",
              "      <td>1.0</td>\n",
              "      <td>0</td>\n",
              "      <td>0</td>\n",
              "      <td>1</td>\n",
              "      <td>0</td>\n",
              "      <td>1</td>\n",
              "      <td>1</td>\n",
              "      <td>2003</td>\n",
              "      <td>50000</td>\n",
              "      <td>0</td>\n",
              "      <td>0</td>\n",
              "      <td>50000</td>\n",
              "      <td>25000</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>4</th>\n",
              "      <td>91345</td>\n",
              "      <td>531390</td>\n",
              "      <td>2006</td>\n",
              "      <td>240</td>\n",
              "      <td>65</td>\n",
              "      <td>1.0</td>\n",
              "      <td>3</td>\n",
              "      <td>65</td>\n",
              "      <td>1</td>\n",
              "      <td>1</td>\n",
              "      <td>0</td>\n",
              "      <td>1</td>\n",
              "      <td>2006</td>\n",
              "      <td>343000</td>\n",
              "      <td>0</td>\n",
              "      <td>0</td>\n",
              "      <td>343000</td>\n",
              "      <td>343000</td>\n",
              "    </tr>\n",
              "  </tbody>\n",
              "</table>\n",
              "</div>\n",
              "      <button class=\"colab-df-convert\" onclick=\"convertToInteractive('df-8c9dca76-7015-4771-b3b9-04bc1a9c30f5')\"\n",
              "              title=\"Convert this dataframe to an interactive table.\"\n",
              "              style=\"display:none;\">\n",
              "        \n",
              "  <svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\"viewBox=\"0 0 24 24\"\n",
              "       width=\"24px\">\n",
              "    <path d=\"M0 0h24v24H0V0z\" fill=\"none\"/>\n",
              "    <path d=\"M18.56 5.44l.94 2.06.94-2.06 2.06-.94-2.06-.94-.94-2.06-.94 2.06-2.06.94zm-11 1L8.5 8.5l.94-2.06 2.06-.94-2.06-.94L8.5 2.5l-.94 2.06-2.06.94zm10 10l.94 2.06.94-2.06 2.06-.94-2.06-.94-.94-2.06-.94 2.06-2.06.94z\"/><path d=\"M17.41 7.96l-1.37-1.37c-.4-.4-.92-.59-1.43-.59-.52 0-1.04.2-1.43.59L10.3 9.45l-7.72 7.72c-.78.78-.78 2.05 0 2.83L4 21.41c.39.39.9.59 1.41.59.51 0 1.02-.2 1.41-.59l7.78-7.78 2.81-2.81c.8-.78.8-2.07 0-2.86zM5.41 20L4 18.59l7.72-7.72 1.47 1.35L5.41 20z\"/>\n",
              "  </svg>\n",
              "      </button>\n",
              "      \n",
              "  <style>\n",
              "    .colab-df-container {\n",
              "      display:flex;\n",
              "      flex-wrap:wrap;\n",
              "      gap: 12px;\n",
              "    }\n",
              "\n",
              "    .colab-df-convert {\n",
              "      background-color: #E8F0FE;\n",
              "      border: none;\n",
              "      border-radius: 50%;\n",
              "      cursor: pointer;\n",
              "      display: none;\n",
              "      fill: #1967D2;\n",
              "      height: 32px;\n",
              "      padding: 0 0 0 0;\n",
              "      width: 32px;\n",
              "    }\n",
              "\n",
              "    .colab-df-convert:hover {\n",
              "      background-color: #E2EBFA;\n",
              "      box-shadow: 0px 1px 2px rgba(60, 64, 67, 0.3), 0px 1px 3px 1px rgba(60, 64, 67, 0.15);\n",
              "      fill: #174EA6;\n",
              "    }\n",
              "\n",
              "    [theme=dark] .colab-df-convert {\n",
              "      background-color: #3B4455;\n",
              "      fill: #D2E3FC;\n",
              "    }\n",
              "\n",
              "    [theme=dark] .colab-df-convert:hover {\n",
              "      background-color: #434B5C;\n",
              "      box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);\n",
              "      filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.3));\n",
              "      fill: #FFFFFF;\n",
              "    }\n",
              "  </style>\n",
              "\n",
              "      <script>\n",
              "        const buttonEl =\n",
              "          document.querySelector('#df-8c9dca76-7015-4771-b3b9-04bc1a9c30f5 button.colab-df-convert');\n",
              "        buttonEl.style.display =\n",
              "          google.colab.kernel.accessAllowed ? 'block' : 'none';\n",
              "\n",
              "        async function convertToInteractive(key) {\n",
              "          const element = document.querySelector('#df-8c9dca76-7015-4771-b3b9-04bc1a9c30f5');\n",
              "          const dataTable =\n",
              "            await google.colab.kernel.invokeFunction('convertToInteractive',\n",
              "                                                     [key], {});\n",
              "          if (!dataTable) return;\n",
              "\n",
              "          const docLinkHtml = 'Like what you see? Visit the ' +\n",
              "            '<a target=\"_blank\" href=https://colab.research.google.com/notebooks/data_table.ipynb>data table notebook</a>'\n",
              "            + ' to learn more about interactive tables.';\n",
              "          element.innerHTML = '';\n",
              "          dataTable['output_type'] = 'display_data';\n",
              "          await google.colab.output.renderOutput(dataTable, element);\n",
              "          const docLink = document.createElement('div');\n",
              "          docLink.innerHTML = docLinkHtml;\n",
              "          element.appendChild(docLink);\n",
              "        }\n",
              "      </script>\n",
              "    </div>\n",
              "  </div>\n",
              "  "
            ]
          },
          "metadata": {},
          "execution_count": 16
        }
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "id": "tWVfr5wRnTRm"
      },
      "source": [
        ""
      ],
      "execution_count": null,
      "outputs": []
    },
    {
      "cell_type": "code",
      "metadata": {
        "id": "kaL8ETnFnTRo",
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "outputId": "3ef017a0-5352-45e2-e31b-b28d6245ec58"
      },
      "source": [
        "# changing the variable data types to their appropriate formats\n",
        "to_obj = ['Zip', 'ICS', 'ApprovalFY', 'NewExist', 'FranchiseCode', 'UrbanRural', 'DisbursementDate']\n",
        "\n",
        "for item in to_obj:\n",
        "    df[item] = df[item].astype('object')\n",
        "    \n",
        "# confirming our data types have been appropriately modified\n",
        "df.dtypes"
      ],
      "execution_count": 17,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "Zip                  object\n",
              "ICS                  object\n",
              "ApprovalFY           object\n",
              "Term                  int64\n",
              "NoEmp                 int64\n",
              "NewExist             object\n",
              "CreateJob             int64\n",
              "RetainedJob           int64\n",
              "FranchiseCode        object\n",
              "UrbanRural           object\n",
              "RevLineCr            object\n",
              "LowDoc               object\n",
              "DisbursementDate     object\n",
              "DisbursementGross     int64\n",
              "MIS_Status           object\n",
              "ChgOffPrinGr          int64\n",
              "GrAppv                int64\n",
              "SBA_Appv              int64\n",
              "dtype: object"
            ]
          },
          "metadata": {},
          "execution_count": 17
        }
      ]
    },
    {
      "cell_type": "markdown",
      "metadata": {
        "id": "E7poJ8HRnTRr"
      },
      "source": [
        "There are no other anomalies or inconsistencies with the data so we will now move on to analysis."
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "id": "vjkHD08inTRs",
        "colab": {
          "base_uri": "https://localhost:8080/",
          "height": 270
        },
        "outputId": "4e84be71-b9e8-42f9-bfe4-acab2889dab8"
      },
      "source": [
        "df.to_csv('kopokopo_clean.csv', index = False)\n",
        "\n",
        "df = pd.read_csv('kopokopo_clean.csv')\n",
        "df.head()"
      ],
      "execution_count": 18,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "     Zip     ICS  ApprovalFY  Term  NoEmp  NewExist  CreateJob  RetainedJob  \\\n",
              "0  92801  532420        2001    36      1       1.0          0            0   \n",
              "1  90505  531210        2001    56      1       1.0          0            0   \n",
              "2  92103  531210        2001    36     10       1.0          0            0   \n",
              "3  92108  531312        2003    36      6       1.0          0            0   \n",
              "4  91345  531390        2006   240     65       1.0          3           65   \n",
              "\n",
              "   FranchiseCode  UrbanRural  RevLineCr  LowDoc  DisbursementDate  \\\n",
              "0              1           0          1       1              2001   \n",
              "1              1           0          1       1              2003   \n",
              "2              1           0          1       1              2001   \n",
              "3              1           0          1       1              2003   \n",
              "4              1           1          0       1              2006   \n",
              "\n",
              "   DisbursementGross  MIS_Status  ChgOffPrinGr  GrAppv  SBA_Appv  \n",
              "0              32812           0             0   30000     15000  \n",
              "1              30000           0             0   30000     15000  \n",
              "2              30000           0             0   30000     15000  \n",
              "3              50000           0             0   50000     25000  \n",
              "4             343000           0             0  343000    343000  "
            ],
            "text/html": [
              "\n",
              "  <div id=\"df-f99a14ed-e022-4703-a1bd-49e36a5f3d25\">\n",
              "    <div class=\"colab-df-container\">\n",
              "      <div>\n",
              "<style scoped>\n",
              "    .dataframe tbody tr th:only-of-type {\n",
              "        vertical-align: middle;\n",
              "    }\n",
              "\n",
              "    .dataframe tbody tr th {\n",
              "        vertical-align: top;\n",
              "    }\n",
              "\n",
              "    .dataframe thead th {\n",
              "        text-align: right;\n",
              "    }\n",
              "</style>\n",
              "<table border=\"1\" class=\"dataframe\">\n",
              "  <thead>\n",
              "    <tr style=\"text-align: right;\">\n",
              "      <th></th>\n",
              "      <th>Zip</th>\n",
              "      <th>ICS</th>\n",
              "      <th>ApprovalFY</th>\n",
              "      <th>Term</th>\n",
              "      <th>NoEmp</th>\n",
              "      <th>NewExist</th>\n",
              "      <th>CreateJob</th>\n",
              "      <th>RetainedJob</th>\n",
              "      <th>FranchiseCode</th>\n",
              "      <th>UrbanRural</th>\n",
              "      <th>RevLineCr</th>\n",
              "      <th>LowDoc</th>\n",
              "      <th>DisbursementDate</th>\n",
              "      <th>DisbursementGross</th>\n",
              "      <th>MIS_Status</th>\n",
              "      <th>ChgOffPrinGr</th>\n",
              "      <th>GrAppv</th>\n",
              "      <th>SBA_Appv</th>\n",
              "    </tr>\n",
              "  </thead>\n",
              "  <tbody>\n",
              "    <tr>\n",
              "      <th>0</th>\n",
              "      <td>92801</td>\n",
              "      <td>532420</td>\n",
              "      <td>2001</td>\n",
              "      <td>36</td>\n",
              "      <td>1</td>\n",
              "      <td>1.0</td>\n",
              "      <td>0</td>\n",
              "      <td>0</td>\n",
              "      <td>1</td>\n",
              "      <td>0</td>\n",
              "      <td>1</td>\n",
              "      <td>1</td>\n",
              "      <td>2001</td>\n",
              "      <td>32812</td>\n",
              "      <td>0</td>\n",
              "      <td>0</td>\n",
              "      <td>30000</td>\n",
              "      <td>15000</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>1</th>\n",
              "      <td>90505</td>\n",
              "      <td>531210</td>\n",
              "      <td>2001</td>\n",
              "      <td>56</td>\n",
              "      <td>1</td>\n",
              "      <td>1.0</td>\n",
              "      <td>0</td>\n",
              "      <td>0</td>\n",
              "      <td>1</td>\n",
              "      <td>0</td>\n",
              "      <td>1</td>\n",
              "      <td>1</td>\n",
              "      <td>2003</td>\n",
              "      <td>30000</td>\n",
              "      <td>0</td>\n",
              "      <td>0</td>\n",
              "      <td>30000</td>\n",
              "      <td>15000</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>2</th>\n",
              "      <td>92103</td>\n",
              "      <td>531210</td>\n",
              "      <td>2001</td>\n",
              "      <td>36</td>\n",
              "      <td>10</td>\n",
              "      <td>1.0</td>\n",
              "      <td>0</td>\n",
              "      <td>0</td>\n",
              "      <td>1</td>\n",
              "      <td>0</td>\n",
              "      <td>1</td>\n",
              "      <td>1</td>\n",
              "      <td>2001</td>\n",
              "      <td>30000</td>\n",
              "      <td>0</td>\n",
              "      <td>0</td>\n",
              "      <td>30000</td>\n",
              "      <td>15000</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>3</th>\n",
              "      <td>92108</td>\n",
              "      <td>531312</td>\n",
              "      <td>2003</td>\n",
              "      <td>36</td>\n",
              "      <td>6</td>\n",
              "      <td>1.0</td>\n",
              "      <td>0</td>\n",
              "      <td>0</td>\n",
              "      <td>1</td>\n",
              "      <td>0</td>\n",
              "      <td>1</td>\n",
              "      <td>1</td>\n",
              "      <td>2003</td>\n",
              "      <td>50000</td>\n",
              "      <td>0</td>\n",
              "      <td>0</td>\n",
              "      <td>50000</td>\n",
              "      <td>25000</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>4</th>\n",
              "      <td>91345</td>\n",
              "      <td>531390</td>\n",
              "      <td>2006</td>\n",
              "      <td>240</td>\n",
              "      <td>65</td>\n",
              "      <td>1.0</td>\n",
              "      <td>3</td>\n",
              "      <td>65</td>\n",
              "      <td>1</td>\n",
              "      <td>1</td>\n",
              "      <td>0</td>\n",
              "      <td>1</td>\n",
              "      <td>2006</td>\n",
              "      <td>343000</td>\n",
              "      <td>0</td>\n",
              "      <td>0</td>\n",
              "      <td>343000</td>\n",
              "      <td>343000</td>\n",
              "    </tr>\n",
              "  </tbody>\n",
              "</table>\n",
              "</div>\n",
              "      <button class=\"colab-df-convert\" onclick=\"convertToInteractive('df-f99a14ed-e022-4703-a1bd-49e36a5f3d25')\"\n",
              "              title=\"Convert this dataframe to an interactive table.\"\n",
              "              style=\"display:none;\">\n",
              "        \n",
              "  <svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\"viewBox=\"0 0 24 24\"\n",
              "       width=\"24px\">\n",
              "    <path d=\"M0 0h24v24H0V0z\" fill=\"none\"/>\n",
              "    <path d=\"M18.56 5.44l.94 2.06.94-2.06 2.06-.94-2.06-.94-.94-2.06-.94 2.06-2.06.94zm-11 1L8.5 8.5l.94-2.06 2.06-.94-2.06-.94L8.5 2.5l-.94 2.06-2.06.94zm10 10l.94 2.06.94-2.06 2.06-.94-2.06-.94-.94-2.06-.94 2.06-2.06.94z\"/><path d=\"M17.41 7.96l-1.37-1.37c-.4-.4-.92-.59-1.43-.59-.52 0-1.04.2-1.43.59L10.3 9.45l-7.72 7.72c-.78.78-.78 2.05 0 2.83L4 21.41c.39.39.9.59 1.41.59.51 0 1.02-.2 1.41-.59l7.78-7.78 2.81-2.81c.8-.78.8-2.07 0-2.86zM5.41 20L4 18.59l7.72-7.72 1.47 1.35L5.41 20z\"/>\n",
              "  </svg>\n",
              "      </button>\n",
              "      \n",
              "  <style>\n",
              "    .colab-df-container {\n",
              "      display:flex;\n",
              "      flex-wrap:wrap;\n",
              "      gap: 12px;\n",
              "    }\n",
              "\n",
              "    .colab-df-convert {\n",
              "      background-color: #E8F0FE;\n",
              "      border: none;\n",
              "      border-radius: 50%;\n",
              "      cursor: pointer;\n",
              "      display: none;\n",
              "      fill: #1967D2;\n",
              "      height: 32px;\n",
              "      padding: 0 0 0 0;\n",
              "      width: 32px;\n",
              "    }\n",
              "\n",
              "    .colab-df-convert:hover {\n",
              "      background-color: #E2EBFA;\n",
              "      box-shadow: 0px 1px 2px rgba(60, 64, 67, 0.3), 0px 1px 3px 1px rgba(60, 64, 67, 0.15);\n",
              "      fill: #174EA6;\n",
              "    }\n",
              "\n",
              "    [theme=dark] .colab-df-convert {\n",
              "      background-color: #3B4455;\n",
              "      fill: #D2E3FC;\n",
              "    }\n",
              "\n",
              "    [theme=dark] .colab-df-convert:hover {\n",
              "      background-color: #434B5C;\n",
              "      box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);\n",
              "      filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.3));\n",
              "      fill: #FFFFFF;\n",
              "    }\n",
              "  </style>\n",
              "\n",
              "      <script>\n",
              "        const buttonEl =\n",
              "          document.querySelector('#df-f99a14ed-e022-4703-a1bd-49e36a5f3d25 button.colab-df-convert');\n",
              "        buttonEl.style.display =\n",
              "          google.colab.kernel.accessAllowed ? 'block' : 'none';\n",
              "\n",
              "        async function convertToInteractive(key) {\n",
              "          const element = document.querySelector('#df-f99a14ed-e022-4703-a1bd-49e36a5f3d25');\n",
              "          const dataTable =\n",
              "            await google.colab.kernel.invokeFunction('convertToInteractive',\n",
              "                                                     [key], {});\n",
              "          if (!dataTable) return;\n",
              "\n",
              "          const docLinkHtml = 'Like what you see? Visit the ' +\n",
              "            '<a target=\"_blank\" href=https://colab.research.google.com/notebooks/data_table.ipynb>data table notebook</a>'\n",
              "            + ' to learn more about interactive tables.';\n",
              "          element.innerHTML = '';\n",
              "          dataTable['output_type'] = 'display_data';\n",
              "          await google.colab.output.renderOutput(dataTable, element);\n",
              "          const docLink = document.createElement('div');\n",
              "          docLink.innerHTML = docLinkHtml;\n",
              "          element.appendChild(docLink);\n",
              "        }\n",
              "      </script>\n",
              "    </div>\n",
              "  </div>\n",
              "  "
            ]
          },
          "metadata": {},
          "execution_count": 18
        }
      ]
    },
    {
      "cell_type": "markdown",
      "metadata": {
        "id": "4ySwAjtAnTRv"
      },
      "source": [
        "# <font color='#2F4F4F'>3. Data Analysis</font>"
      ]
    },
    {
      "cell_type": "markdown",
      "metadata": {
        "id": "TJuxxnX8nTRv"
      },
      "source": [
        "Because there are too many variables to carry out individual univariate and bivariate analysis, we will use Pandas Profiling to generate a report for this section."
      ]
    },
    {
      "cell_type": "code",
      "source": [
        "import numpy as np\n",
        "import pandas as pd\n",
        "from pandas_profiling import ProfileReport\n",
        "\n",
        "df = pd.DataFrame(np.random.rand(100, 18), columns=[\"Zip\", \"ICS\", \"ApprovalFY\", \"Term\", \"NoEmp\",\"NewExist\",\"CreateJob\",\"RetainedJob\",\"FranchiseCode\",\"UrbanRural\",\"RevLineCr\",\"LowDoc\",\"DisbursementDate\",\"DisbursementGross\",\"MIS_Status\",\"ChgOffPrinGr\",\"GrAppv\t\",\"SBA_Appv\"])"
      ],
      "metadata": {
        "id": "C8tSH3d1SmXD"
      },
      "execution_count": 44,
      "outputs": []
    },
    {
      "cell_type": "code",
      "source": [
        "\n",
        "\n",
        "profile = ProfileReport(df,title=\"Pandas Profiling Report\", explorative=True)"
      ],
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/",
          "height": 710
        },
        "id": "agqreFo_T0A5",
        "outputId": "632d8ddb-c95e-4a74-9b92-b4048130103c"
      },
      "execution_count": 43,
      "outputs": [
        {
          "output_type": "error",
          "ename": "TypeError",
          "evalue": "ignored",
          "traceback": [
            "\u001b[0;31m---------------------------------------------------------------------------\u001b[0m",
            "\u001b[0;31mRemoteTraceback\u001b[0m                           Traceback (most recent call last)",
            "\u001b[0;31mRemoteTraceback\u001b[0m: \n\"\"\"\nTraceback (most recent call last):\n  File \"/usr/lib/python3.7/multiprocessing/pool.py\", line 121, in worker\n    result = (True, func(*args, **kwds))\n  File \"/usr/lib/python3.7/multiprocessing/pool.py\", line 44, in mapstar\n    return list(map(*args))\n  File \"/usr/local/lib/python3.7/dist-packages/pandas_profiling/describe.py\", line 282, in multiprocess_func\n    return x[0], describe_1d(x[1], **kwargs)\n  File \"/usr/local/lib/python3.7/dist-packages/pandas_profiling/describe.py\", line 270, in describe_1d\n    result = result.append(describe_numeric_1d(data, **kwargs))\n  File \"/usr/local/lib/python3.7/dist-packages/pandas_profiling/describe.py\", line 54, in describe_numeric_1d\n    stats['histogram'] = histogram(series, **kwargs)\n  File \"/usr/local/lib/python3.7/dist-packages/pandas_profiling/plot.py\", line 73, in histogram\n    plot = _plot_histogram(series, **kwargs)\nTypeError: _plot_histogram() got an unexpected keyword argument 'title'\n\"\"\"",
            "\nThe above exception was the direct cause of the following exception:\n",
            "\u001b[0;31mTypeError\u001b[0m                                 Traceback (most recent call last)",
            "\u001b[0;32m<ipython-input-43-0e8393f80d0a>\u001b[0m in \u001b[0;36m<module>\u001b[0;34m()\u001b[0m\n\u001b[1;32m      1\u001b[0m \u001b[0;34m\u001b[0m\u001b[0m\n\u001b[1;32m      2\u001b[0m \u001b[0;34m\u001b[0m\u001b[0m\n\u001b[0;32m----> 3\u001b[0;31m \u001b[0mprofile\u001b[0m \u001b[0;34m=\u001b[0m \u001b[0mProfileReport\u001b[0m\u001b[0;34m(\u001b[0m\u001b[0mdf\u001b[0m\u001b[0;34m,\u001b[0m\u001b[0mtitle\u001b[0m\u001b[0;34m=\u001b[0m\u001b[0;34m\"Pandas Profiling Report\"\u001b[0m\u001b[0;34m,\u001b[0m \u001b[0mexplorative\u001b[0m\u001b[0;34m=\u001b[0m\u001b[0;32mTrue\u001b[0m\u001b[0;34m)\u001b[0m\u001b[0;34m\u001b[0m\u001b[0;34m\u001b[0m\u001b[0m\n\u001b[0m",
            "\u001b[0;32m/usr/local/lib/python3.7/dist-packages/pandas_profiling/__init__.py\u001b[0m in \u001b[0;36m__init__\u001b[0;34m(self, df, **kwargs)\u001b[0m\n\u001b[1;32m     64\u001b[0m         \u001b[0msample\u001b[0m \u001b[0;34m=\u001b[0m \u001b[0mkwargs\u001b[0m\u001b[0;34m.\u001b[0m\u001b[0mget\u001b[0m\u001b[0;34m(\u001b[0m\u001b[0;34m'sample'\u001b[0m\u001b[0;34m,\u001b[0m \u001b[0mdf\u001b[0m\u001b[0;34m.\u001b[0m\u001b[0mhead\u001b[0m\u001b[0;34m(\u001b[0m\u001b[0;34m)\u001b[0m\u001b[0;34m)\u001b[0m\u001b[0;34m\u001b[0m\u001b[0;34m\u001b[0m\u001b[0m\n\u001b[1;32m     65\u001b[0m \u001b[0;34m\u001b[0m\u001b[0m\n\u001b[0;32m---> 66\u001b[0;31m         \u001b[0mdescription_set\u001b[0m \u001b[0;34m=\u001b[0m \u001b[0mdescribe\u001b[0m\u001b[0;34m(\u001b[0m\u001b[0mdf\u001b[0m\u001b[0;34m,\u001b[0m \u001b[0;34m**\u001b[0m\u001b[0mkwargs\u001b[0m\u001b[0;34m)\u001b[0m\u001b[0;34m\u001b[0m\u001b[0;34m\u001b[0m\u001b[0m\n\u001b[0m\u001b[1;32m     67\u001b[0m \u001b[0;34m\u001b[0m\u001b[0m\n\u001b[1;32m     68\u001b[0m         self.html = to_html(sample,\n",
            "\u001b[0;32m/usr/local/lib/python3.7/dist-packages/pandas_profiling/describe.py\u001b[0m in \u001b[0;36mdescribe\u001b[0;34m(df, bins, check_correlation, correlation_threshold, correlation_overrides, check_recoded, pool_size, **kwargs)\u001b[0m\n\u001b[1;32m    349\u001b[0m     \u001b[0mpool\u001b[0m \u001b[0;34m=\u001b[0m \u001b[0mmultiprocessing\u001b[0m\u001b[0;34m.\u001b[0m\u001b[0mPool\u001b[0m\u001b[0;34m(\u001b[0m\u001b[0mpool_size\u001b[0m\u001b[0;34m)\u001b[0m\u001b[0;34m\u001b[0m\u001b[0;34m\u001b[0m\u001b[0m\n\u001b[1;32m    350\u001b[0m     \u001b[0mlocal_multiprocess_func\u001b[0m \u001b[0;34m=\u001b[0m \u001b[0mpartial\u001b[0m\u001b[0;34m(\u001b[0m\u001b[0mmultiprocess_func\u001b[0m\u001b[0;34m,\u001b[0m \u001b[0;34m**\u001b[0m\u001b[0mkwargs\u001b[0m\u001b[0;34m)\u001b[0m\u001b[0;34m\u001b[0m\u001b[0;34m\u001b[0m\u001b[0m\n\u001b[0;32m--> 351\u001b[0;31m     \u001b[0mldesc\u001b[0m \u001b[0;34m=\u001b[0m \u001b[0;34m{\u001b[0m\u001b[0mcol\u001b[0m\u001b[0;34m:\u001b[0m \u001b[0ms\u001b[0m \u001b[0;32mfor\u001b[0m \u001b[0mcol\u001b[0m\u001b[0;34m,\u001b[0m \u001b[0ms\u001b[0m \u001b[0;32min\u001b[0m \u001b[0mpool\u001b[0m\u001b[0;34m.\u001b[0m\u001b[0mmap\u001b[0m\u001b[0;34m(\u001b[0m\u001b[0mlocal_multiprocess_func\u001b[0m\u001b[0;34m,\u001b[0m \u001b[0mdf\u001b[0m\u001b[0;34m.\u001b[0m\u001b[0miteritems\u001b[0m\u001b[0;34m(\u001b[0m\u001b[0;34m)\u001b[0m\u001b[0;34m)\u001b[0m\u001b[0;34m}\u001b[0m\u001b[0;34m\u001b[0m\u001b[0;34m\u001b[0m\u001b[0m\n\u001b[0m\u001b[1;32m    352\u001b[0m     \u001b[0mpool\u001b[0m\u001b[0;34m.\u001b[0m\u001b[0mclose\u001b[0m\u001b[0;34m(\u001b[0m\u001b[0;34m)\u001b[0m\u001b[0;34m\u001b[0m\u001b[0;34m\u001b[0m\u001b[0m\n\u001b[1;32m    353\u001b[0m \u001b[0;34m\u001b[0m\u001b[0m\n",
            "\u001b[0;32m/usr/lib/python3.7/multiprocessing/pool.py\u001b[0m in \u001b[0;36mmap\u001b[0;34m(self, func, iterable, chunksize)\u001b[0m\n\u001b[1;32m    266\u001b[0m         \u001b[0;32min\u001b[0m \u001b[0ma\u001b[0m \u001b[0mlist\u001b[0m \u001b[0mthat\u001b[0m \u001b[0;32mis\u001b[0m \u001b[0mreturned\u001b[0m\u001b[0;34m.\u001b[0m\u001b[0;34m\u001b[0m\u001b[0;34m\u001b[0m\u001b[0m\n\u001b[1;32m    267\u001b[0m         '''\n\u001b[0;32m--> 268\u001b[0;31m         \u001b[0;32mreturn\u001b[0m \u001b[0mself\u001b[0m\u001b[0;34m.\u001b[0m\u001b[0m_map_async\u001b[0m\u001b[0;34m(\u001b[0m\u001b[0mfunc\u001b[0m\u001b[0;34m,\u001b[0m \u001b[0miterable\u001b[0m\u001b[0;34m,\u001b[0m \u001b[0mmapstar\u001b[0m\u001b[0;34m,\u001b[0m \u001b[0mchunksize\u001b[0m\u001b[0;34m)\u001b[0m\u001b[0;34m.\u001b[0m\u001b[0mget\u001b[0m\u001b[0;34m(\u001b[0m\u001b[0;34m)\u001b[0m\u001b[0;34m\u001b[0m\u001b[0;34m\u001b[0m\u001b[0m\n\u001b[0m\u001b[1;32m    269\u001b[0m \u001b[0;34m\u001b[0m\u001b[0m\n\u001b[1;32m    270\u001b[0m     \u001b[0;32mdef\u001b[0m \u001b[0mstarmap\u001b[0m\u001b[0;34m(\u001b[0m\u001b[0mself\u001b[0m\u001b[0;34m,\u001b[0m \u001b[0mfunc\u001b[0m\u001b[0;34m,\u001b[0m \u001b[0miterable\u001b[0m\u001b[0;34m,\u001b[0m \u001b[0mchunksize\u001b[0m\u001b[0;34m=\u001b[0m\u001b[0;32mNone\u001b[0m\u001b[0;34m)\u001b[0m\u001b[0;34m:\u001b[0m\u001b[0;34m\u001b[0m\u001b[0;34m\u001b[0m\u001b[0m\n",
            "\u001b[0;32m/usr/lib/python3.7/multiprocessing/pool.py\u001b[0m in \u001b[0;36mget\u001b[0;34m(self, timeout)\u001b[0m\n\u001b[1;32m    655\u001b[0m             \u001b[0;32mreturn\u001b[0m \u001b[0mself\u001b[0m\u001b[0;34m.\u001b[0m\u001b[0m_value\u001b[0m\u001b[0;34m\u001b[0m\u001b[0;34m\u001b[0m\u001b[0m\n\u001b[1;32m    656\u001b[0m         \u001b[0;32melse\u001b[0m\u001b[0;34m:\u001b[0m\u001b[0;34m\u001b[0m\u001b[0;34m\u001b[0m\u001b[0m\n\u001b[0;32m--> 657\u001b[0;31m             \u001b[0;32mraise\u001b[0m \u001b[0mself\u001b[0m\u001b[0;34m.\u001b[0m\u001b[0m_value\u001b[0m\u001b[0;34m\u001b[0m\u001b[0;34m\u001b[0m\u001b[0m\n\u001b[0m\u001b[1;32m    658\u001b[0m \u001b[0;34m\u001b[0m\u001b[0m\n\u001b[1;32m    659\u001b[0m     \u001b[0;32mdef\u001b[0m \u001b[0m_set\u001b[0m\u001b[0;34m(\u001b[0m\u001b[0mself\u001b[0m\u001b[0;34m,\u001b[0m \u001b[0mi\u001b[0m\u001b[0;34m,\u001b[0m \u001b[0mobj\u001b[0m\u001b[0;34m)\u001b[0m\u001b[0;34m:\u001b[0m\u001b[0;34m\u001b[0m\u001b[0;34m\u001b[0m\u001b[0m\n",
            "\u001b[0;31mTypeError\u001b[0m: _plot_histogram() got an unexpected keyword argument 'title'"
          ]
        }
      ]
    },
    {
      "cell_type": "markdown",
      "metadata": {
        "id": "MGX0cDaonTRy"
      },
      "source": [
        "From the report, we can note the following correlations:\n",
        "- DisbursementDate is highly correlated with ApprovalFY\n",
        "- ApprovalFY is highly correlated with DisbursementDate and SBA_Appv\n",
        "- GrAppv is highly correlated with DisbursementGross and SBA_Appv\n",
        "- DisbursementGross is highly correlated with GrAppv and SBA_Appv\n",
        "- SBA_Appv is highly correlated with DisbursementGross and GrAppv\n",
        "\n",
        "We will remove DisbursementDate, GrAppv, and SBA_Appv."
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "id": "kQdyToYtnTR0"
      },
      "source": [
        "df.drop(columns = ['DisbursementDate', 'GrAppv', 'SBA_Appv'], inplace = True)"
      ],
      "execution_count": null,
      "outputs": []
    },
    {
      "cell_type": "markdown",
      "metadata": {
        "id": "vTbdjSrhVIiT"
      },
      "source": [
        "# <font color='#2F4F4F'>4. Data Modeling</font>"
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "id": "SE7qTV6SnTR5"
      },
      "source": [
        "# split into features (X) and target (Y)\n",
        "#splitting to independednt & dependednt variables\n",
        "X = df.drop(columns=['MIS_Status'])\n",
        "y=  df['MIS_Status']"
      ],
      "execution_count": null,
      "outputs": []
    },
    {
      "cell_type": "code",
      "metadata": {
        "id": "oT292-GnnTR7"
      },
      "source": [
        "# splitting into 75-25 training and test sets\n",
        "\n",
        "from sklearn.model_selection import train_test_split\n",
        "X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)"
      ],
      "execution_count": null,
      "outputs": []
    },
    {
      "cell_type": "code",
      "metadata": {
        "id": "H2VTeZ98nTSC"
      },
      "source": [
        "# scaling our features\n",
        "from sklearn.preprocessing import MinMaxScaler  \n",
        "norm = MinMaxScaler().fit(X_train) \n",
        "X_train = norm.transform(X_train) \n",
        "X_test = norm.transform(X_test)"
      ],
      "execution_count": null,
      "outputs": []
    },
    {
      "cell_type": "code",
      "source": [
        "\n",
        "#import libraries\n",
        "from sklearn.linear_model import LogisticRegression # Logistic Regression Classifier\n",
        "from sklearn.tree import DecisionTreeClassifier     # Decision Tree Classifier\n",
        "from sklearn.svm import SVC                         # SVM Classifier\n",
        "from sklearn.naive_bayes import GaussianNB          # Naive Bayes Classifier\n",
        "from sklearn.neighbors import KNeighborsClassifier  # KNN Classifier\n",
        "\n",
        "# We will also use our ensemble classifiers\n",
        "from sklearn.ensemble import BaggingClassifier           # Bagging Meta-Estimator Classifier\n",
        "from sklearn.ensemble import RandomForestClassifier      # RandomForest Classifier \n",
        "from sklearn.ensemble import AdaBoostClassifier          # AdaBoost Classifier\n",
        "from sklearn.ensemble import GradientBoostingClassifier  # AdaBoost GradientBoostingClassifier\n",
        "import xgboost as xgb                                \n",
        "\n",
        "# Below, we make instances of the classifiers; \n",
        "logistic_classifier = LogisticRegression()\n",
        "decision_classifier = DecisionTreeClassifier()\n",
        "svm_classifier = SVC()\n",
        "knn_classifier = KNeighborsClassifier()\n",
        "naive_classifier = GaussianNB() \n",
        "\n",
        "# We start implementing ensemble methods by first using Bagging Classifiers\n",
        "# ---\n",
        "\n",
        "bagging_meta_classifier = BaggingClassifier()\n",
        "random_forest_classifier = RandomForestClassifier()\n",
        "\n",
        "# Boosting Classifiers\n",
        "# ---\n",
        "ada_boost_classifier = AdaBoostClassifier()\n",
        "gbm_classifier = GradientBoostingClassifier() \n",
        "xg_boost_classifier = xgb.XGBClassifier() \n",
        "\n",
        "# Now using these classifiers to fit our data, X_train and y_train.\n",
        "# By fitting we mean we train our classifiers based on the train dataset.\n",
        "# ---\n",
        "# Upon running this cell, we should have classifiers that can predict \n",
        "# whether a person will buy a car or not.\n",
        "# ---\n",
        "#\n",
        "logistic_classifier.fit(X_train, y_train)\n",
        "decision_classifier.fit(X_train, y_train)\n",
        "svm_classifier.fit(X_train, y_train)\n",
        "knn_classifier.fit(X_train, y_train)\n",
        "naive_classifier.fit(X_train, y_train)\n",
        "\n",
        "# Bagging Classifiers\n",
        "# ---\n",
        "bagging_meta_classifier.fit(X_train, y_train)\n",
        "random_forest_classifier.fit(X_train, y_train)\n",
        "\n",
        "# Boosting Classifiers\n",
        "# ---\n",
        "ada_boost_classifier.fit(X_train, y_train)\n",
        "gbm_classifier.fit(X_train, y_train)\n",
        "xg_boost_classifier.fit(X_train, y_train)"
      ],
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "4GN4giterEUQ",
        "outputId": "6308f51f-e724-4000-820d-3d465c2c54e7"
      },
      "execution_count": null,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "XGBClassifier()"
            ]
          },
          "metadata": {},
          "execution_count": 37
        }
      ]
    },
    {
      "cell_type": "code",
      "source": [
        "# We now predict the test set results.  \n",
        "# ---\n",
        "# No expected output here.\n",
        "# ---\n",
        "#\n",
        "logistic_y_prediction = logistic_classifier.predict(X_test) \n",
        "decision_y_prediction = decision_classifier.predict(X_test) \n",
        "svm_y_prediction = svm_classifier.predict(X_test) \n",
        "knn_y_prediction = knn_classifier.predict(X_test) \n",
        "naive_y_prediction = naive_classifier.predict(X_test) \n",
        "\n",
        "# Bagging Classifiers\n",
        "# ---\n",
        "bagging_y_classifier = bagging_meta_classifier.predict(X_test) \n",
        "random_forest_y_classifier = random_forest_classifier.predict(X_test) \n",
        "\n",
        "# Boosting Classifiers\n",
        "# ---\n",
        "ada_boost_y_classifier = ada_boost_classifier.predict(X_test)\n",
        "gbm_y_classifier = gbm_classifier.predict(X_test)\n",
        "xg_boost_y_classifier = xg_boost_classifier.predict(X_test)"
      ],
      "metadata": {
        "id": "_eGMtDCpsF3S"
      },
      "execution_count": null,
      "outputs": []
    },
    {
      "cell_type": "code",
      "source": [
        "# We then import evaluation metrics to determine the accuracy of classifiers\n",
        "# ---\n",
        "# \n",
        "from sklearn.metrics import classification_report, accuracy_score \n",
        "\n",
        "# The accuracy score - is the simplest way to evaluate \n",
        "# However, we note not for a highly imbalance dataset. \n",
        "# By imbalanced we mean that our original dataset would\n",
        "# need to have an equal no's of 1 and 0's\n",
        "# ---\n",
        "#\n",
        "print(\"Logistic Regression Classifier\", accuracy_score(logistic_y_prediction, y_test))\n",
        "print(\"Decision Trees Classifier\", accuracy_score(decision_y_prediction, y_test))\n",
        "print(\"SVN Classifier\", accuracy_score(svm_y_prediction, y_test))\n",
        "print(\"KNN Classifier\", accuracy_score(knn_y_prediction, y_test))\n",
        "print(\"Naive Bayes Classifier\", accuracy_score(naive_y_prediction, y_test))\n",
        "\n",
        "# Bagging Classifiers\n",
        "# ---\n",
        "print(\"Bagging Classifier\", accuracy_score(bagging_y_classifier, y_test))\n",
        "print(\"Random Forest Classifier\", accuracy_score(random_forest_y_classifier, y_test))\n",
        "\n",
        "# Boosting Classifiers\n",
        "# ---\n",
        "print(\"Ada Boost Classifier\", accuracy_score(ada_boost_y_classifier, y_test))\n",
        "print(\"GBM Classifier\", accuracy_score(gbm_y_classifier, y_test))\n",
        "print(\"XGBoost Classifier\", accuracy_score(xg_boost_y_classifier, y_test))"
      ],
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "sQXuKU57sOeB",
        "outputId": "a4c2e56e-db27-48ae-e336-939f7c8f8a38"
      },
      "execution_count": null,
      "outputs": [
        {
          "output_type": "stream",
          "name": "stdout",
          "text": [
            "Logistic Regression Classifier 0.8931297709923665\n",
            "Decision Trees Classifier 0.9980916030534351\n",
            "SVN Classifier 0.9141221374045801\n",
            "KNN Classifier 0.9064885496183206\n",
            "Naive Bayes Classifier 0.8358778625954199\n",
            "Bagging Classifier 1.0\n",
            "Random Forest Classifier 1.0\n",
            "Ada Boost Classifier 1.0\n",
            "GBM Classifier 0.9961832061068703\n",
            "XGBoost Classifier 1.0\n"
          ]
        }
      ]
    },
    {
      "cell_type": "code",
      "source": [
        "# We now print the classification report, \n",
        "# which is more reliable for a highly imbalanced dataset. \n",
        "# We use the precision values which give us accuracy values.\n",
        "# \n",
        "# ---\n",
        "# The precision will be \"how many are correctly classified among that class\".\n",
        "# The recall means \"how many of this class you find over the whole number of element of this class\".\n",
        "# The f1-score is the harmonic mean between precision & recall.\n",
        "# The support is the number of occurence of the given class in your dataset.\n",
        "# ---\n",
        "# \n",
        "print('Logistic classifier:')\n",
        "print(classification_report(y_test, logistic_y_prediction))\n",
        "\n",
        "print('Decision Tree classifier:')\n",
        "print(classification_report(y_test, decision_y_prediction))\n",
        "\n",
        "print('SVM Classifier:')\n",
        "print(classification_report(y_test, svm_y_prediction))\n",
        "\n",
        "print('KNN Classifier:')\n",
        "print(classification_report(y_test, knn_y_prediction))\n",
        "\n",
        "print('Naive Bayes Classifier:')\n",
        "print(classification_report(y_test, naive_y_prediction)) \n",
        "\n",
        "# Bagging Classifiers\n",
        "# ---\n",
        "print('Bagging Meta Classifier:')\n",
        "print(classification_report(y_test, bagging_y_classifier)) \n",
        "\n",
        "print('Random Forest Classifier:')\n",
        "print(classification_report(y_test, random_forest_y_classifier)) \n",
        "\n",
        "\n",
        "# Boosting Classifiers\n",
        "# ---\n",
        "print('Ada Boost Classifier:')\n",
        "print(classification_report(y_test, ada_boost_y_classifier)) \n",
        "\n",
        "print('GBM Classifier:')\n",
        "print(classification_report(y_test, gbm_y_classifier)) \n",
        "\n",
        "print('XGBoost Classifier:')\n",
        "print(classification_report(y_test, xg_boost_y_classifier)) \n",
        "\n",
        "# Remember, we can then further perform model opmization techiniques i.e. \n",
        "# data cleaning, feature engineering, checking for model assumptions, etc. \n",
        "# to further get the best classifier. "
      ],
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "b_z4sVbGsef4",
        "outputId": "da0768e0-94d0-43a8-bffd-a9984eb1332e"
      },
      "execution_count": null,
      "outputs": [
        {
          "output_type": "stream",
          "name": "stdout",
          "text": [
            "Logistic classifier:\n",
            "              precision    recall  f1-score   support\n",
            "\n",
            "           0       0.93      0.92      0.92       361\n",
            "           1       0.82      0.84      0.83       163\n",
            "\n",
            "    accuracy                           0.89       524\n",
            "   macro avg       0.87      0.88      0.88       524\n",
            "weighted avg       0.89      0.89      0.89       524\n",
            "\n",
            "Decision Tree classifier:\n",
            "              precision    recall  f1-score   support\n",
            "\n",
            "           0       1.00      1.00      1.00       361\n",
            "           1       1.00      0.99      1.00       163\n",
            "\n",
            "    accuracy                           1.00       524\n",
            "   macro avg       1.00      1.00      1.00       524\n",
            "weighted avg       1.00      1.00      1.00       524\n",
            "\n",
            "SVM Classifier:\n",
            "              precision    recall  f1-score   support\n",
            "\n",
            "           0       0.93      0.94      0.94       361\n",
            "           1       0.87      0.85      0.86       163\n",
            "\n",
            "    accuracy                           0.91       524\n",
            "   macro avg       0.90      0.90      0.90       524\n",
            "weighted avg       0.91      0.91      0.91       524\n",
            "\n",
            "KNN Classifier:\n",
            "              precision    recall  f1-score   support\n",
            "\n",
            "           0       0.93      0.93      0.93       361\n",
            "           1       0.85      0.85      0.85       163\n",
            "\n",
            "    accuracy                           0.91       524\n",
            "   macro avg       0.89      0.89      0.89       524\n",
            "weighted avg       0.91      0.91      0.91       524\n",
            "\n",
            "Naive Bayes Classifier:\n",
            "              precision    recall  f1-score   support\n",
            "\n",
            "           0       1.00      0.76      0.86       361\n",
            "           1       0.65      1.00      0.79       163\n",
            "\n",
            "    accuracy                           0.84       524\n",
            "   macro avg       0.83      0.88      0.83       524\n",
            "weighted avg       0.89      0.84      0.84       524\n",
            "\n",
            "Bagging Meta Classifier:\n",
            "              precision    recall  f1-score   support\n",
            "\n",
            "           0       1.00      1.00      1.00       361\n",
            "           1       1.00      1.00      1.00       163\n",
            "\n",
            "    accuracy                           1.00       524\n",
            "   macro avg       1.00      1.00      1.00       524\n",
            "weighted avg       1.00      1.00      1.00       524\n",
            "\n",
            "Random Forest Classifier:\n",
            "              precision    recall  f1-score   support\n",
            "\n",
            "           0       1.00      1.00      1.00       361\n",
            "           1       1.00      1.00      1.00       163\n",
            "\n",
            "    accuracy                           1.00       524\n",
            "   macro avg       1.00      1.00      1.00       524\n",
            "weighted avg       1.00      1.00      1.00       524\n",
            "\n",
            "Ada Boost Classifier:\n",
            "              precision    recall  f1-score   support\n",
            "\n",
            "           0       1.00      1.00      1.00       361\n",
            "           1       1.00      1.00      1.00       163\n",
            "\n",
            "    accuracy                           1.00       524\n",
            "   macro avg       1.00      1.00      1.00       524\n",
            "weighted avg       1.00      1.00      1.00       524\n",
            "\n",
            "GBM Classifier:\n",
            "              precision    recall  f1-score   support\n",
            "\n",
            "           0       0.99      1.00      1.00       361\n",
            "           1       1.00      0.99      0.99       163\n",
            "\n",
            "    accuracy                           1.00       524\n",
            "   macro avg       1.00      0.99      1.00       524\n",
            "weighted avg       1.00      1.00      1.00       524\n",
            "\n",
            "XGBoost Classifier:\n",
            "              precision    recall  f1-score   support\n",
            "\n",
            "           0       1.00      1.00      1.00       361\n",
            "           1       1.00      1.00      1.00       163\n",
            "\n",
            "    accuracy                           1.00       524\n",
            "   macro avg       1.00      1.00      1.00       524\n",
            "weighted avg       1.00      1.00      1.00       524\n",
            "\n"
          ]
        }
      ]
    },
    {
      "cell_type": "markdown",
      "metadata": {
        "id": "noZz5YRQXKzi"
      },
      "source": [
        "# <font color='#2F4F4F'>5. Summary of Findings</font>\n",
        "\n",
        "What can you conclude?\n",
        "\n",
        "**The best Optimized Classifiers are below**\n",
        "\n",
        "\n",
        "*   Bagging Meta Classifier\n",
        "*   Random Forest Classifier\n",
        "*   Ada Boost Classifier\n",
        "*   GBM Classisfier\n",
        "*   X Boost Classifer\n",
        "\n",
        "\n",
        "\n",
        "\n",
        "\n",
        "\n"
      ]
    },
    {
      "cell_type": "markdown",
      "metadata": {
        "id": "xrmHVMVsVS--"
      },
      "source": [
        "# <font color='#2F4F4F'>6. Recommendations</font>\n",
        "\n",
        "What recommendations can you provide?\n",
        "\n",
        "**We will do cross validation and K-Folds cross validation in an attempt to improve our models**"
      ]
    },
    {
      "cell_type": "markdown",
      "metadata": {
        "id": "HPQviDmNtta8"
      },
      "source": [
        "# <font color='#2F4F4F'>7. Challenging your Solution</font>\n",
        "\n",
        "#### a) Did we have the right question?\n",
        "\n",
        "\n",
        "#### b) Did we have the right data?\n",
        "\n",
        "#### c) What can be done to improve the solution?\n"
      ]
    },
    {
      "cell_type": "markdown",
      "metadata": {
        "id": "rW46z17qlq0b"
      },
      "source": [
        "### 7.1 Improving the Solution"
      ]
    },
    {
      "cell_type": "markdown",
      "metadata": {
        "id": "WIrsihN5lq0c"
      },
      "source": [
        "We will try cross validation and K-Folds cross validation in an attempt to improve our models."
      ]
    },
    {
      "cell_type": "markdown",
      "metadata": {
        "id": "pjUqCW7nlq0d"
      },
      "source": [
        "#### 7.1.1 Cross Validation"
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "id": "sWwqH3wUlq0e"
      },
      "source": [
        "from sklearn.model_selection import cross_val_score as cvs\n",
        "\n",
        "log_scores = cvs(log, X, y, cv = 3)\n",
        "print(\"Logistic Regression CV scores:\", log_scores)\n",
        "\n",
        "tree_scores = cvs(tree, X, y, cv = 3)\n",
        "print(\"Decision Tree CV scores:\", tree_scores)\n",
        "\n",
        "svm_scores = cvs(svm, X, y, cv = 3)\n",
        "print(\"Support Vector Machine CV scores:\", svm_scores)\n",
        "\n",
        "nb_scores = cvs(nb, X, y, cv = 3)\n",
        "print(\"Naive Bayes CV scores:\", nb_scores)\n",
        "\n",
        "knn_scores = cvs(knn, X, y, cv = 3)\n",
        "print(\"K-Neighbors CV scores:\", knn_scores)\n",
        "\n",
        "bag_scores = cvs(bag, X, y, cv = 3)\n",
        "print(\"Bagging CV scores:\", bag_scores)\n",
        "\n",
        "rf_scores = cvs(rf, X, y, cv = 3)\n",
        "print(\"Random Forest CV scores:\", rf_scores)\n",
        "\n",
        "ada_scores = cvs(ada, X, y, cv = 3)\n",
        "print(\"Ada Boosting CV scores:\", ada_scores)\n",
        "\n",
        "grad_scores = cvs(grad, X, y, cv = 3)\n",
        "print(\"Gradient Boosting CV scores:\", grad_scores)\n",
        "\n",
        "xgb_scores = cvs(xgb, X, y, cv = 3)\n",
        "print(\"XG Boosting CV scores:\", xgb_scores)"
      ],
      "execution_count": null,
      "outputs": []
    },
    {
      "cell_type": "markdown",
      "metadata": {
        "id": "sNj7lBM3lq0j"
      },
      "source": [
        "#### 7.1.2 K-Folds Cross Validation"
      ]
    },
    {
      "cell_type": "code",
      "metadata": {
        "scrolled": false,
        "id": "szJm949elq0k",
        "outputId": "2bdd344a-a3c1-42dc-94de-5698c0c167e3"
      },
      "source": [
        "from sklearn.model_selection import KFold\n",
        "from sklearn.metrics import accuracy_score\n",
        "\n",
        "# applying KFold with 3 splits onto our features\n",
        "kf3 = KFold(n_splits = 3, shuffle = True)\n",
        "kf3.split(X)\n",
        "\n",
        "print(\"We are using \" + str(kf3.get_n_splits(X)) + \" folds.\\n\")\n",
        "\n",
        "model_count = 1 # to keep track of the model we are working with\n",
        "\n",
        "# creating training and test sets using these folds\n",
        "for train_index, test_index in kf3.split(X):\n",
        "    print(\"Training fold\", model_count)\n",
        "    \n",
        "    X_train, X_test = X[train_index], X[test_index]\n",
        "    y_train, y_test = y[train_index], y[test_index]\n",
        "    \n",
        "    log.fit(X_train, y_train)\n",
        "    log_pred = log.predict(X_test)\n",
        "    print(\"Assessing accuracy of model\", model_count)\n",
        "    print(\"Linear Regression Confusion Matrix:\\n\", confusion_matrix(y_test, log_pred))\n",
        "    print(\"Accuracy:\", accuracy_score(y_test, log_pred))\n",
        "    print()\n",
        "    \n",
        "    tree.fit(X_train, y_train)\n",
        "    tree_pred = tree.predict(X_test)\n",
        "    print(\"Assessing accuracy of model\", model_count)\n",
        "    print(\"Decision Tree Confusion Matrix:\\n\", confusion_matrix(y_test, tree_pred))\n",
        "    print(\"Accuracy:\", accuracy_score(y_test, tree_pred))\n",
        "    print()\n",
        "    \n",
        "    svm.fit(X_train, y_train)\n",
        "    svm_pred = svm.predict(X_test)\n",
        "    print(\"Assessing accuracy of model\", model_count)\n",
        "    print(\"Support Vector Machine Confusion Matrix:\\n\", confusion_matrix(y_test, svm_pred))\n",
        "    print(\"Accuracy:\", accuracy_score(y_test, svm_pred))\n",
        "    print()\n",
        "    \n",
        "    nb.fit(X_train, y_train)\n",
        "    nb_pred = nb.predict(X_test)\n",
        "    print(\"Assessing accuracy of model\", model_count)\n",
        "    print(\"Naive Bayes Confusion Matrix:\\n\", confusion_matrix(y_test, nb_pred))\n",
        "    print(\"Accuracy:\", accuracy_score(y_test, nb_pred))\n",
        "    print()\n",
        "    \n",
        "    knn.fit(X_train, y_train)\n",
        "    knn_pred = knn.predict(X_test)\n",
        "    print(\"Assessing accuracy of model\", model_count)\n",
        "    print(\"K-Neighbors Confusion Matrix:\\n\", confusion_matrix(y_test, knn_pred))\n",
        "    print(\"Accuracy:\", accuracy_score(y_test, knn_pred))\n",
        "    print()\n",
        "    \n",
        "    bag.fit(X_train, y_train)\n",
        "    bag_pred = bag.predict(X_test)\n",
        "    print(\"Assessing accuracy of model\", model_count)\n",
        "    print(\"Bagging Confusion Matrix:\\n\", confusion_matrix(y_test, bag_pred))\n",
        "    print(\"Accuracy:\", accuracy_score(y_test, bag_pred))\n",
        "    print()\n",
        "    \n",
        "    rf.fit(X_train, y_train)\n",
        "    rf_pred = rf.predict(X_test)\n",
        "    print(\"Assessing accuracy of model\", model_count)\n",
        "    print(\"Random Forest Confusion Matrix:\\n\", confusion_matrix(y_test, rf_pred))\n",
        "    print(\"Accuracy:\", accuracy_score(y_test, rf_pred))\n",
        "    print()\n",
        "    \n",
        "    ada.fit(X_train, y_train)\n",
        "    ada_pred = ada.predict(X_test)\n",
        "    print(\"Assessing accuracy of model\", model_count)\n",
        "    print(\"Ada Boosting Confusion Matrix:\\n\", confusion_matrix(y_test, ada_pred))\n",
        "    print(\"Accuracy:\", accuracy_score(y_test, ada_pred))\n",
        "    print()\n",
        "    \n",
        "    grad.fit(X_train, y_train)\n",
        "    grad_pred = grad.predict(X_test)\n",
        "    print(\"Assessing accuracy of model\", model_count)\n",
        "    print(\"Gradient Boosting Confusion Matrix:\\n\", confusion_matrix(y_test, grad_pred))\n",
        "    print(\"Accuracy:\", accuracy_score(y_test, grad_pred))\n",
        "    print()\n",
        "    \n",
        "    xgb.fit(X_train, y_train)\n",
        "    xgb_pred = xgb.predict(X_test)\n",
        "    print(\"Assessing accuracy of model\", model_count)\n",
        "    print(\"XG Boosting Confusion Matrix:\\n\", confusion_matrix(y_test, xgb_pred))\n",
        "    print(\"Accuracy:\", accuracy_score(y_test, xgb_pred))\n",
        "    print()\n",
        "    \n",
        "    model_count += 1"
      ],
      "execution_count": null,
      "outputs": [
        {
          "output_type": "stream",
          "text": [
            "We are using 3 folds.\n",
            "\n",
            "Training fold 1\n",
            "Assessing accuracy of model 1\n",
            "Linear Regression Confusion Matrix:\n",
            " [[480   4]\n",
            " [  8 206]]\n",
            "Accuracy: 0.9828080229226361\n",
            "\n",
            "Assessing accuracy of model 1\n",
            "Decision Tree Confusion Matrix:\n",
            " [[480   4]\n",
            " [  4 210]]\n",
            "Accuracy: 0.9885386819484241\n",
            "\n",
            "Assessing accuracy of model 1\n",
            "Support Vector Machine Confusion Matrix:\n",
            " [[484   0]\n",
            " [ 87 127]]\n",
            "Accuracy: 0.8753581661891118\n",
            "\n",
            "Assessing accuracy of model 1\n",
            "Naive Bayes Confusion Matrix:\n",
            " [[481   3]\n",
            " [  2 212]]\n",
            "Accuracy: 0.9928366762177651\n",
            "\n",
            "Assessing accuracy of model 1\n",
            "K-Neighbors Confusion Matrix:\n",
            " [[481   3]\n",
            " [ 10 204]]\n",
            "Accuracy: 0.9813753581661891\n",
            "\n",
            "Assessing accuracy of model 1\n",
            "Bagging Confusion Matrix:\n",
            " [[480   4]\n",
            " [  2 212]]\n",
            "Accuracy: 0.9914040114613181\n",
            "\n",
            "Assessing accuracy of model 1\n",
            "Random Forest Confusion Matrix:\n",
            " [[480   4]\n",
            " [  2 212]]\n",
            "Accuracy: 0.9914040114613181\n",
            "\n",
            "Assessing accuracy of model 1\n",
            "Ada Boosting Confusion Matrix:\n",
            " [[480   4]\n",
            " [  4 210]]\n",
            "Accuracy: 0.9885386819484241\n",
            "\n",
            "Assessing accuracy of model 1\n",
            "Gradient Boosting Confusion Matrix:\n",
            " [[480   4]\n",
            " [  2 212]]\n",
            "Accuracy: 0.9914040114613181\n",
            "\n",
            "Assessing accuracy of model 1\n",
            "XG Boosting Confusion Matrix:\n",
            " [[480   4]\n",
            " [  3 211]]\n",
            "Accuracy: 0.9899713467048711\n",
            "\n",
            "Training fold 2\n",
            "Assessing accuracy of model 2\n",
            "Linear Regression Confusion Matrix:\n",
            " [[468   3]\n",
            " [  5 222]]\n",
            "Accuracy: 0.9885386819484241\n",
            "\n",
            "Assessing accuracy of model 2\n",
            "Decision Tree Confusion Matrix:\n",
            " [[468   3]\n",
            " [  1 226]]\n",
            "Accuracy: 0.994269340974212\n",
            "\n",
            "Assessing accuracy of model 2\n",
            "Support Vector Machine Confusion Matrix:\n",
            " [[471   0]\n",
            " [ 90 137]]\n",
            "Accuracy: 0.8710601719197708\n",
            "\n",
            "Assessing accuracy of model 2\n",
            "Naive Bayes Confusion Matrix:\n",
            " [[468   3]\n",
            " [  2 225]]\n",
            "Accuracy: 0.9928366762177651\n",
            "\n",
            "Assessing accuracy of model 2\n",
            "K-Neighbors Confusion Matrix:\n",
            " [[468   3]\n",
            " [  9 218]]\n",
            "Accuracy: 0.9828080229226361\n",
            "\n",
            "Assessing accuracy of model 2\n",
            "Bagging Confusion Matrix:\n",
            " [[468   3]\n",
            " [  0 227]]\n",
            "Accuracy: 0.995702005730659\n",
            "\n",
            "Assessing accuracy of model 2\n",
            "Random Forest Confusion Matrix:\n",
            " [[468   3]\n",
            " [  0 227]]\n",
            "Accuracy: 0.995702005730659\n",
            "\n",
            "Assessing accuracy of model 2\n",
            "Ada Boosting Confusion Matrix:\n",
            " [[468   3]\n",
            " [  2 225]]\n",
            "Accuracy: 0.9928366762177651\n",
            "\n",
            "Assessing accuracy of model 2\n",
            "Gradient Boosting Confusion Matrix:\n",
            " [[468   3]\n",
            " [  1 226]]\n",
            "Accuracy: 0.994269340974212\n",
            "\n",
            "Assessing accuracy of model 2\n",
            "XG Boosting Confusion Matrix:\n",
            " [[468   3]\n",
            " [  2 225]]\n",
            "Accuracy: 0.9928366762177651\n",
            "\n",
            "Training fold 3\n",
            "Assessing accuracy of model 3\n",
            "Linear Regression Confusion Matrix:\n",
            " [[450   3]\n",
            " [  1 243]]\n",
            "Accuracy: 0.994261119081779\n",
            "\n",
            "Assessing accuracy of model 3\n",
            "Decision Tree Confusion Matrix:\n",
            " [[450   3]\n",
            " [  4 240]]\n",
            "Accuracy: 0.9899569583931134\n",
            "\n",
            "Assessing accuracy of model 3\n",
            "Support Vector Machine Confusion Matrix:\n",
            " [[453   0]\n",
            " [ 92 152]]\n",
            "Accuracy: 0.8680057388809183\n",
            "\n",
            "Assessing accuracy of model 3\n",
            "Naive Bayes Confusion Matrix:\n",
            " [[415  38]\n",
            " [  0 244]]\n",
            "Accuracy: 0.945480631276901\n",
            "\n",
            "Assessing accuracy of model 3\n",
            "K-Neighbors Confusion Matrix:\n",
            " [[450   3]\n",
            " [  9 235]]\n",
            "Accuracy: 0.9827833572453372\n",
            "\n",
            "Assessing accuracy of model 3\n",
            "Bagging Confusion Matrix:\n",
            " [[450   3]\n",
            " [  1 243]]\n",
            "Accuracy: 0.994261119081779\n",
            "\n",
            "Assessing accuracy of model 3\n",
            "Random Forest Confusion Matrix:\n",
            " [[450   3]\n",
            " [  0 244]]\n",
            "Accuracy: 0.9956958393113343\n",
            "\n",
            "Assessing accuracy of model 3\n",
            "Ada Boosting Confusion Matrix:\n",
            " [[450   3]\n",
            " [  2 242]]\n",
            "Accuracy: 0.9928263988522238\n",
            "\n",
            "Assessing accuracy of model 3\n",
            "Gradient Boosting Confusion Matrix:\n",
            " [[450   3]\n",
            " [  0 244]]\n",
            "Accuracy: 0.9956958393113343\n",
            "\n",
            "Assessing accuracy of model 3\n",
            "XG Boosting Confusion Matrix:\n",
            " [[450   3]\n",
            " [  0 244]]\n",
            "Accuracy: 0.9956958393113343\n",
            "\n"
          ],
          "name": "stdout"
        }
      ]
    }
  ]
}

NameError: ignored